.titulo-dashboard{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
      font-family: 'Poppins', Arial, sans-serif;
      color: #0E2E4A
}
.resumen-cuerpo{
  padding-left: 5rem;
}