<app-auto-resuelve-queja-denegatoria-apelacion-compartido
  [formulario]="formulario"
  [tieneActoTramiteCasoDocumento]="tieneActoTramiteCasoDocumento"
  [tramiteEstadoRecibido]="tramiteEstadoRecibido"
  [tramiteSeleccionado]="tramiteSeleccionado"
  [flCheckModal]="flCheckModal"
  [longitudMaximaObservaciones]="longitudMaximaObservaciones"
  [cantidadCaracteresObservacion]="cantidadCaracteresObservacion"
  [esPosibleEditarFormulario]="esPosibleEditarFormulario"
  [tramiteGuardado]="tramiteGuardado"
  [formularioValido]="formularioValido"
  [iconAsset]="iconAsset"
  (onOpenModalSujetos)="openModalSujetos()"
  (onActualizarActoTramite)="modalActualizarActoYTramite()"
  (onConfirmarRegistro)="confirmarRegistroTramite()">
</app-auto-resuelve-queja-denegatoria-apelacion-compartido>
