.text-center {
    text-align: center;
}

.columna-nro {
    width: 3%;
}

.columna-cuaderno {
    width: 16%;
}

.columna-tipo-cuaderno {
    width: 12%;
}

.columna-ultimo-tramite {
    width: 13%;
}

.columna-cuaderno-padre {
    width: 16%;
}

.columna-fecha-creacion {
    width: 10%;
}

.columna-delitos-vinculados {
    width: 30px;
}