<div class="cfe-dialog__header">
  <h2>Acumulaciones del Caso: 506014501-2021-595-0</h2>
  <fn-icon
    [ico]="iconUtil.obtenerIcono('iClose')"
    height="28px"
    (click)="close()"
  ></fn-icon>
</div>
<div class="cfe-dialog__content">
  <div class="cfe-table">
    <p-table class="cfe-bold" [value]="casoAcumulado">
      <ng-template pTemplate="header">
        <tr>
          <th>N°</th>
          <th>Código de caso</th>
          <th>Fecha de acumulación</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-caso let-i="rowIndex">
        <tr class="cfe-semi-bold">
          <td style="padding-right: 5px; width: 30px">{{ i + 1 }}</td>
          <td>{{ caso.codigoCaso }}</td>
          <td>
            {{
              datePipe.transform(caso.fechaAcumulacion, "dd/MM/yyyy")!
                | dateformat
            }}
            {{ caso.horaAcumulacion | dateformat : "hour" }}
          </td>
          <td>
            <button
              type="button"
              class="cfe-boton cfe-boton-secondary cfe-boton-m font-bold"
              (click)="verCaso(caso.codigoCaso)"
            >
              Ver caso
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
