<div class="cfe-container">


    <app-tabs-view [tabs]="tabs" (onChangeIndex)="indexActivo = $event"></app-tabs-view>
    <p-tabView class="cfe-tabs-view" [(activeIndex)]="indexActivo">
        <p-tabPanel>


            <div class="cfe_bandeja__header grid">
                <div class="cfe_bandeja_header__content col-12 md:col-9">
                    <fn-icon [ico]="icono('iFolderSearch')" height="1.6rem"></fn-icon>
                    <h3 class="cfe-titulo-1">Asignación de casos</h3>
                    <fn-icon [ico]="icono('iTooltip')" height="1.6rem"></fn-icon>
                </div>
                <div class="col-12 md:col-3 flex flex-column sm:flex-row justify-content-end align-items-center pr-0">
                    <button class="cfe-boton-secondary cfe-boton-sm w-full sm:w-auto mr-0 mb-2 sm:mb-0 justify-content-start" routerLink="../listar-casos-anulados">
                        Ver casos anulados
                        <fn-icon [ico]="icono('iChevronRight')" height="1.5rem"></fn-icon>
                    </button>
                </div>
            </div>

            <form class="cfe_bandeja__filters" [formGroup]="formularioFiltrarCasos">
                <div class="grid row-magin-top">
                    <div class="col">
                        <div class="field mb-0">
                            <label for="fiscal" class="font-semibold">-Fiscal a quién se le asignará el caso</label>
                            <p-dropdown (onChange)="eventChangeFiscal($event)" [options]="fiscalesPorAsignar"
                                        optionLabel="nombreCompleto"
                                        optionValue="idFiscal" [showClear]="true"
                                        placeholder="Seleccione uno de los fiscales"
                                        styleClass="py-1 p-inputtext-lg"
                                        [formControl]="fiscalPorAsignar">
                                <ng-template let-fiscal pTemplate="item">
                                    <div class="grid">
                                        <div class="col text-base">{{ fiscal.nombreCompleto.trim() }}</div>
                                        <div class="col font-semibold text-right text-base">{{ fiscal.casosAsignados }} casos asignados
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-fixed" style="width: 200px;">
                        <div class="field mb-0">
                            <label for="button" class="font-semibold">&nbsp;</label>
                            <button class="cfe-boton-primary cfe-boton-lg w-full" (click)="confirmarAsignacionCaso()">Asignar</button>
                        </div>
                    </div>
                </div>

                <div class="grid mt-1">
                    <div class="col">
                        <div class="field mb-0">
                            <label for="buscar" class="font-semibold">Buscar</label>
                            <input (input)="onInput(input.value)" #input pInputText type="text" class="p-inputtext-lg py-3 text-lg w-full" placeholder="Ingrese algún texto para buscar, por ejemplo el número de caso, nombre de las partes, etc" formControlName="buscar" />
                        </div>
                    </div>
                    <div class="col-fixed" style="width: 70px;" [ngClass]="{'cfe-filtro-boton-fondo': mostrarFiltros}">
                        <div class="field mb-0">
                            <label for="button" class="font-semibold">&nbsp;</label>
                            <button class="cfe-filtro-boton" (click)="eventoMostrarOcultarFiltros()">
                        <fn-icon [ico]="icono('iFilterShow')" height="2.1rem"></fn-icon>
                    </button>
                        </div>
                    </div>
                </div>

                <div class="grid mt-3 mb-4" *ngIf="!mostrarFiltros">
                    <div class="col">
                        <div class="flex flex-wrap gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton name="tiempoAFiltrar" (onClick)="actualizarTiempos()" value="ultimosMeses" formControlName="tiempoAFiltrar" inputId="ultimoSeisMeses"></p-radioButton>
                                <label for="para filtrar los últimos 6 meses" class="ml-2">Últimos 6 meses</label>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton name="tiempoAFiltrar" (onClick)="actualizarTiempos()" value="todos" formControlName="tiempoAFiltrar" inputId="todosLosMeses"></p-radioButton>
                                <label for="para filtrar todos los meses" class="ml-2">Todos los meses</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid mt-1 cfe-filtros" *ngIf="mostrarFiltros">
                    <div class="cfe-filtros-fondo px-3">
                        <div class="formgrid grid">
                            <div class="col-12 md:col-6 field">
                                <label class="font-semibold mb-2" for="Fecha de asignacion" class="font-semibold">
                                    Fecha de asignación al despacho
                                </label>
                                <div class="grid">
                                    <div class="col-12 sm:col-6">
                                        <p-calendar (onSelect)="seleccionarFechaInicio($event)" dateMask dateFormat="dd/mm/yy" class="p-inputtext-lg cfe-calendar h-56" [showIcon]="true" icon="cfe-calendar-icon" placeholder="dd/mm/aaaa" formControlName="fechaDesde"></p-calendar>
                                    </div>
                                    <div class="col-12 sm:col-6 sm:mt-0 mt-3">
                                        <p-calendar (onSelect)="seleccionarFechaFin($event)" dateMask dateFormat="dd/mm/yy" class="p-inputtext-lg cfe-calendar h-56" [showIcon]="true" icon="cfe-calendar-icon" placeholder="dd/mm/aaaa" formControlName="fechaHasta"></p-calendar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-3 field">
                                <label for="plazos" class="font-semibold mb-0">Plazos</label>
                                <p-dropdown (onChange)="changePlazos($event)" styleClass="p-inputtext-lg py-1" [options]="plazos" optionValue="id" optionLabel="nombre" emptyMessage="Sin resultados" placeholder="Todos" [showClear]="true" formControlName="plazo"></p-dropdown>
                            </div>
                            <div class="col-12 md:col-3 field">
                                <label for="extras" class="font-semibold mb-0">Origen</label>
                                <p-dropdown (onChange)="changeOrigen($event)" styleClass="p-inputtext-lg py-1" [options]="origen" optionValue="id" optionLabel="nombre" placeholder="Todos" emptyMessage="Sin resultados" [showClear]="true" formControlName="origen"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="cfe-filtros-fondo cfe-filtros-opciones">
                        <button class="cfe-boton-secondary cfe-boton-m mr-3 boton-w" (click)="limpiarFiltros()">Limpiar
                    filtros</button>
                        <button class="cfe-boton-primary cfe-boton-m mr-2 boton-w" (click)="obtenerCasosPorAsignarGrilla()">Buscar</button>
                    </div>
                </div>

            </form>

            <div class="cfe_bandeja__table">
                <div class="cfe_bandeja_table__title grid">
                    <div class="num_casos_por_asignar_table_title__content col-12 md:col-6">
                        <fn-icon [ico]="icono('iFolderExclamation')" height="1.8rem" [style]="{'margin-left': '-12px'}"></fn-icon>
                        <h4 class="cfe-subtitulo-1">{{ casosPorAsignar.length }} Casos por asignar</h4>
                    </div>
                    <div class="col-12 md:col-6 flex flex-column sm:flex-row justify-content-end align-items-center pr-0">
                        <button class="cfe-boton-secondary cfe-boton-m cfe-boton-m w-full sm:w-auto mr-0 sm:mr-3 mb-2 sm:mb-0 justify-content-start" (click)="exportarPdfExcel('PDF')">
                            <fn-icon class="ml-1" [ico]="icono('iFileDownload')" height="1.6rem"></fn-icon>
                            Exportar PDF
                        </button>
                        <button class="cfe-boton-secondary cfe-boton-m cfe-boton-m w-full sm:w-auto mr-0 sm:mr-3 mb-2 sm:mb-0 justify-content-start" (click)="exportarPdfExcel('Excel')">
                            <fn-icon class="ml-1" [ico]="icono('iTable')" height="1.6rem"></fn-icon>
                            Exportar Excel
                        </button>
                    </div>
                </div>
                <div class="cfe_bandeja__legend">
                    <div *ngFor="let item of leyenda; index as i" class="term-item">
                        <span class="{{ obtenerClaseDeOrigen( (i+1)+'' ) }}"></span> {{ item.nombrePlazo }}
                        <div class="quantity">({{ item.cantidad }})</div>
                    </div>
                </div>
                <div class="cfe_bandeja_table__content">
                    <p-table [value]="casosPorAsignarFiltrados"
                             [paginator]="true" [rowHover]="true"
                             [rows]="10" [showCurrentPageReport]="true"
                             [tableStyle]="{ 'min-width': '50rem' }"
                             currentPageReportTemplate="{first} de {last} registros"
                             [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
                        [breakpoint]="'992px'" responsiveLayout="stack"
                             [(selection)]="casosSeleccionados" class="table_td_content_responsive">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 20px">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="numeroCaso">Número de caso
                                    <p-sortIcon field="numeroCaso"></p-sortIcon>
                                </th>
                                <th pSortableColumn="origen">Origen/Remitente
                                    <p-sortIcon field="origen"></p-sortIcon>
                                </th>
                                <th pSortableColumn="remitente">Etapa
                                    <p-sortIcon field="remitente"></p-sortIcon>
                                </th>
                                <th pSortableColumn="contacto">Despacho de procedencia
                                    <p-sortIcon field="contacto"></p-sortIcon>
                                </th>
                                <th style="width: 175px" pSortableColumn="fechaIngreso">Fecha elevación al despacho
                                    <p-sortIcon field="fechaAceptacion"></p-sortIcon>
                                </th>
                                <th style="width: 175px" pSortableColumn="fechaIngreso">Fecha aceptacion F.Superior
                                    <p-sortIcon field="fechaElevaccion"></p-sortIcon>
                                </th>
                                <th style="width: 172px" pSortableColumn="delitos">Delitos y partes
                                    <p-sortIcon field="delitos"></p-sortIcon>
                                </th>
                                <th style="width: 122px">Clasificación</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-caso>
                            <tr class="p-selectable-row" [ngClass]="{'unread': caso.leido==0}">
                                <td class="no-before">
                                    <div class="col-12 col-offset-2">
                                        <p-tableCheckbox [value]="caso"></p-tableCheckbox>
                                    </div>

                                    <div class="block lg:hidden">
                                        <div class="btn-more-options" (click)="menu.toggle($event)">
                                            <div class="btn-more-options-content">
                                                <span></span><span></span><span></span>
                                            </div>
                                        </div>
                                        <p-menu #menu [model]="opcionesMenu(caso)" [popup]="true" class="menu-options"></p-menu>
                                    </div>
                                </td>
                                <td data-column-name="Número de caso">
                                    <div class="grid">
                                        <div class="col-12">
                                            <span style="position: relative;display: flex;" [innerHTML]="obtenerNumeroCaso(caso.numeroCaso, caso.semaforoNro)"></span>
                                        </div>
                                        <div class="col-12">
                                            <p>Tiempo que ha transcurrido y que aún no se ha recibido ni calificado<br>
                                            <span class="cfe-semaforo-dias">
                                                <i class="pi pi-clock mr-2" ></i>
                                                {{ caso.semaforoTiempo }}
                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td data-column-name="Origen">
                                    <div class="grid">
                                        <div class="col-12">
                                            <span class="badge badge-{{ obtenerClaseDeOrigen2(caso.origen) }}">
                                                {{ caso.origen }}
                                            </span>
                                        </div>
                                        <div class="col-12">
                                            <div>
                                                <span class="badge badge-origen">{{ caso.tipoRemitente }}</span>
                                            </div>
                                            {{ caso.remitente }}
                                        </div>
                                    </div>
                                </td>
                                <td data-column-name="Etapa">
                                     {{ caso.etapa }}
                                </td>
                                <td data-column-name="Contacto de remitente">
                                    <div>
                                        {{ caso.despachoProcedencia || '-' }}
                                    </div>
                                </td>
                                <td data-column-name="Fecha elevación al despacho">
                                    <div>
                                        <div>{{ caso.fechaAceptacion ? (caso.fechaAceptacion | dateformat) : '-' }}</div>

                                    </div>
                                </td>

                                <td data-column-name="Fecha aceptacion F.Superior">
                                    <div>
                                        <div>{{ caso.fechaElevaccion ? (caso.fechaElevaccion | dateformat)  : '-' }}</div>

                                    </div>
                                </td>
                                <td data-column-name="Delitos y partes">
                                    <div class="btn-crimes-parts" (click)="verDelitosPartes(caso.numeroCaso, caso.id,caso.leido)">
                                        Ver delitos y partes ({{ caso.cantidadPartes }})
                                    </div>
                                </td>
                                <td data-column-name="Clasificación">
                                    <div class="btn-clasification" (click)="clasificacionCaso(caso.numeroCaso, caso.id, caso.leido, caso.clasificacion)">
                                        <img [src]="icon('clasification')" alt="Clasificación" />
                                    </div>
                                </td>
                                <td class="no-before">
                                    <span class="p-column-title">&nbsp;</span>
                                    <div class="hidden lg:block">
                                        <div class="btn-more-options" (click)="menu2.toggle($event)">
                                            <div class="btn-more-options-content">
                                                <span></span><span></span><span></span>
                                            </div>
                                        </div>
                                        <p-menu #menu2 [model]="opcionesMenu(caso)" [popup]="true" class="menu-options"></p-menu>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="9" style="text-align: center;">No se encontraron registros con los criterios de búsqueda ingresados
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </p-tabPanel>
        <p-tabPanel>
         <app-reasignacion-caso-superior

              its work
        ></app-reasignacion-caso-superior>
        </p-tabPanel>
        <p-tabPanel>
            <app-anulacion-caso-superior></app-anulacion-caso-superior>
        </p-tabPanel>
    </p-tabView>



</div>

<p-toast></p-toast>
