.cfe-subtitulo-1{
    font-size: 16px;
    margin: 0;
    color: var(--mpfn-gray5);
}
.cfe-subtitulo-2{
    font-size: 16px;
    margin: 0;
    color: var(--mpfn-gray5);
    font-weight: 600;
}
.cfe-label{
    font-size: 16px;
    margin: 0;
    color: #1B1C1E;
    font-weight: 500;
}