<div class="cfe-container">

    <div class="elevacion_actuados__header">
        <div class="casos_por_asignar_header__content">
            <fn-icon [ico]="icono('iFolderSearch')" height="1.6rem"></fn-icon>
            <h3 class="cfe-titulo-1">Incidentes resueltos</h3>
            <fn-icon [ico]="icono('iTooltip')" height="1.6rem"></fn-icon>
        </div>
        <div class="casos_por_asignar_header__navigate">
            <button class="cfe-boton-secondary cfe-boton-sm" routerLink="../../apelacion-auto">
                Ver apelaciones
                <fn-icon [ico]="icono('iChevronRight')" height="1.5rem"></fn-icon>
            </button>
        </div>
    </div>

    <form class="casos_por_asignar__filters" [formGroup]="formularioFiltrarCasos">
        <div class="grid mt-1">
            <div class="col">
                <div class="field mb-0">
                    <label for="buscar" class="font-semibold">Buscar</label>
                    <input (input)="onInput(input.value)" #input pInputText type="text"
                        class="p-inputtext-lg py-3 text-lg w-full"
                        placeholder="Ingrese algún texto para buscar, por ejemplo el número de caso, nombre de las partes, etc"
                        formControlName="buscar" />
                </div>
            </div>
            <div class="col-fixed" style="width: 70px;" [ngClass]="{'cfe-filtro-boton-fondo': mostrarFiltros}">
                <div class="field mb-0">
                    <label for="button" class="font-semibold">&nbsp;</label>
                    <button class="cfe-filtro-boton" (click)="eventoMostrarOcultarFiltros()">
                        <fn-icon [ico]="icono('iFilterShow')" height="2.1rem"></fn-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="grid mt-1 cfe-filtros" *ngIf="mostrarFiltros">
            <div class="cfe-filtros-fondo">
                <div class="col">
                    <div class="field mb-0">
                        <label for="Fecha de asignacion" class="font-semibold">
                            Fiscalia Provincial
                        </label>
                        <div class="grid">
                            <div class="col">
                                <p-dropdown (onChange)="changeFiscalia($event)" styleClass="p-inputtext-lg py-1"
                                    [options]="fiscalias" optionValue="idEntidad" optionLabel="nombreEntidad"
                                    emptyMessage="Sin resultados" placeholder="Todos" [showClear]="true"
                                    formControlName="fiscalia">
                                    <ng-template let-fiscal pTemplate="item">
                                        <div class="grid">
                                            <div class="col text-base">{{ fiscal.codigoEntidad }}</div>
                                            <div class="col font-semibold text-right text-base">{{ fiscal.nombreEntidad }} </div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="field mb-0">
                        <label for="despacho" class="font-semibold">Despacho</label>
                        <div class="grid">
                            <div class="col">
                                <p-dropdown (onChange)="changeDespacho($event)" styleClass="p-inputtext-lg py-1"
                                    [options]="despachos" optionValue="codigo" optionLabel="nombre"
                                    emptyMessage="Sin resultados" placeholder="Todos" [showClear]="true"
                                    formControlName="despacho"></p-dropdown>
                            </div>
                            
                            <div class="col origin-container">
                                <label for="extras" class="font-semibold adjust-origin-label">Resultado</label>
                                <input (input)="onInputRemitente(input.value)" #input pInputText type="text"
                                class="p-inputtext-lg py-3 text-lg w-full"
                                placeholder=""
                                formControlName="remitente" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fila abajo -->
            <div class="cfe-filtros-fondo">
                <div class="col">
                    <div class="field mb-0">
                        <label for="Fecha de asignacion" class="font-semibold">
                            Fecha de devolución:
                        </label>
                        <div class="grid">
                            <div class="col">
                                <p-calendar (onSelect)="seleccionarFechaInicio($event)" dateMask dateFormat="dd/mm/yy"
                                    class="p-inputtext-lg cfe-calendar h-56" [showIcon]="true" icon="cfe-calendar-icon"
                                    placeholder="dd/mm/aaaa" formControlName="fechaDesde"></p-calendar>
                            </div>
                            <div class="col">
                                <p-calendar (onSelect)="seleccionarFechaFin($event)" dateMask dateFormat="dd/mm/yy"
                                    class="p-inputtext-lg cfe-calendar h-56" [showIcon]="true" icon="cfe-calendar-icon"
                                    placeholder="dd/mm/aaaa" formControlName="fechaHasta"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="field mb-0">
                        <label for="plazos" class="font-semibold">Fiscal del despacho superior</label>
                        <div class="grid">
                             
                            <div class="col origin-container">
                                <p-dropdown (onChange)="changeOrigen($event)" styleClass="p-inputtext-lg py-1"
                                    [options]="origen" optionValue="id" optionLabel="nombre" placeholder="Todos"
                                    emptyMessage="Sin resultados" [showClear]="true"
                                    formControlName="origen"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cfe-filtros-fondo cfe-filtros-opciones">
                <button class="cfe-boton-secondary cfe-boton-m mr-3 boton-w" (click)="limpiarFiltros()">Limpiar
                    </button>
                <button class="cfe-boton-primary cfe-boton-m mr-2 boton-w"
                    (click)="obtenerCasosResueltosGrilla()">Buscar</button>
            </div>
        </div>

    </form>

    <div class="casos_por_asignar__table">
        <div class="casos_por_asignar_table__title">
            <div class="casos_por_asignar_table_title__content">
                <fn-icon [ico]="icono('iFolderExclamation')" height="1.8rem"
                    [style]="{'margin-left': '-12px'}"></fn-icon>
                <h4 class="cfe-subtitulo-1">{{ casoResuelto.length }} incidentes resueltos</h4>
            </div>
            <div class="casos_por_asignar_table_title__options">
                <button class="cfe-boton-secondary cfe-boton-m mr-3 cfe-boton-icono-izquierda"
                    (click)="exportarPdfExcel('PDF')">
                    <fn-icon class="ml-1" [ico]="icono('iFileDownload')" height="1.6rem"></fn-icon>
                    Exportar PDF
                </button>
                <button class="cfe-boton-secondary cfe-boton-m cfe-boton-icono-izquierda"
                    (click)="exportarPdfExcel('Excel')">
                    <fn-icon class="ml-1" [ico]="icono('iTable')" height="1.6rem"></fn-icon>
                    Exportar Excel
                </button>
            </div>
        </div>
        <div class="casos_por_asignar_table__content">
            <p-table [value]="casoResueltosFiltrados" [paginator]="true" [rowHover]="true" [rows]="10"
                [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="{first} de {last} registros" [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
                [breakpoint]="'992px'" responsiveLayout="stack" [(selection)]="casosSeleccionados">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="numeroCaso">Número de caso
                            <p-sortIcon field="numeroCaso"></p-sortIcon>
                        </th>
                        <th pSortableColumn="despacho">Despacho de procedencia
                            <p-sortIcon field="despacho"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fiscalAsignado">Fiscal Asignado
                            <p-sortIcon field="fiscalAsignado"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tipoApelacion">Etapa / Tipo de apelación
                            <p-sortIcon field="tipoApelacion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="actoProcesal">Acto procesal
                            <p-sortIcon field="actoProcesal"></p-sortIcon>
                        </th>
                        <th pSortableColumn="resolucion">Resolución / Fecha de notificación
                            <p-sortIcon field="resolucion"></p-sortIcon>
                        </th>
                        <th style="width: 175px" pSortableColumn="fechaDevolucion">Fecha de devolución F. Provincial
                            <p-sortIcon field="fechaDevolucion"></p-sortIcon>
                        </th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-caso>
                    <tr class="p-selectable-row">
                        <td class="table_td_content_start caso-container">
                            <span class="p-column-title">Número de caso</span>
                            <div>
                                <span style="position: relative;display: flex;"
                                    [innerHTML]="obtenerNumeroCaso(caso.numeroCaso, caso.semaforoNro)"></span>
                            </div>
                        </td>
                        <td class="table_td_content_start">
                            <span class="p-column-title">Despacho de procedencia</span>
                            {{ caso.despacho }}
                            <div>{{caso.entidad}}</div>
                        </td>
                        <td class="table_td_content_start">
                            <span class="p-column-title">Fiscal asignado</span>
                            {{ caso.fiscalAsignado }}
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td class="fecha-container table_td_content_start">
                            <span class="p-column-title">Fecha devolución F. Provincial</span>
                            <div *ngIf="caso.fechaDevolucion">
                              <div>{{ caso.fechaDevolucion}}</div>
                            </div>
                        </td>
                        <td class="table_td_content_start">
                            <span class="p-column-title">&nbsp;</span>
                            <div class="hidden lg:block">
                                <div class="btn-more-options" (click)="menu2.toggle($event)">
                                    <div class="btn-more-options-content">
                                        <span></span><span></span><span></span>
                                    </div>
                                </div>
                                <p-menu #menu2 [model]="opcionesMenu(caso)" [popup]="true"
                                    class="menu-options"></p-menu>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9" style="text-align: center;">No se encontraron registros con los criterios de
                            búsqueda ingresados
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>

<p-toast></p-toast>
