 @use '../../../../../../assets/styles/scss/abstracts/template' as *;

@use '../../../../../../assets/styles/scss/abstracts/colors' as *;

.cfe-container {
    width: 100%;

    .elevacion_actuados__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0 25px 0;

        .casos_por_asignar_header__content {
            display: flex;
            align-items: center;

            .cfe-titulo-1 {
                padding: 0 12.5px;
            }

            img {
                width: 25px;

                &:nth-child(3) {
                    width: 23px;
                }
            }
        }

        .casos_por_asignar_header__navigate {
            display: flex;
            .cfe-boton-secondary{
                padding-left: 26px !important;
                padding-right: 12px !important;
            }
        }
    }

    .casos_por_asignar__filters {
        width: 100%;
    }

    .casos_por_asignar__table {
        width: 100%;
        background: var(--mpfn-white);
        border-radius: 6px;
        border: 1.5px solid var(--mpfn-gray2);
        margin-top: 10px;

        .casos_por_asignar_table__title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 25px 0 25px;
            margin-bottom: 20px;
            margin-top: 20px;

            .casos_por_asignar_table_title__content {
                display: flex;
                align-items: center;

                img {
                    width: 22px;
                    position: relative;
                    top: -2px;
                }

                .cfe-subtitulo-1 {
                    margin-left: 10px;
                }
            }

            .casos_por_asignar_table_title__options {
                display: flex;
            }
        }

        .casos_por_asignar__legend {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 10px 20px 25px 20px;

            .term-item {
                font-size: 0.9em;
                display: flex;
                font-family: var(--mpfn-font-regular);
                align-items: center;
                margin-right: 12px;

                span {
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background: var(--mpfn-gray2);
                    margin-right: 5px;
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.9em;
                    margin-left: 4px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .casos_por_asignar_table__content {
            width: 100%;
        }
    }
}

:host ::ng-deep .p-dropdown-label {
    font-size: 1.125rem !important;
}

:host ::ng-deep .btn-change-view {
    font-family: var(--mpfn-font-semi-bold);
    .p-button.p-button-outlined {
        background-color: transparent;
        color: var(--mpfn-primary);
        border: 2px solid;
        font-size: 17px;
    }
}

:host ::ng-deep .caso-container {


    align-items: center;
    position: relative;

    .plazo-item {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 6px;
        position: absolute;
        left: -13px;
        top: 5px;
    }

    .cfe-caso {
        font-family: var(--mpfn-font-regular);
        white-space: nowrap;

        span {
            color: var(--mpfn-secondary);
        }
    }
}

:host ::ng-deep .p-selectable-row {
    &:hover {
        cursor: default;
    }

    td {
        vertical-align: top;
        font-family: var(--mpfn-font-regular);
    }

    .remitente-container {
        font-family: var(--mpfn-font-regular);
        font-size: 0.95em;
    }

    .contact-item {
        font-family: var(--mpfn-font-regular);
        font-size: 0.95em;

        span {
            display: inline-block;
            margin-right: 5px;
            font-family: var(--mpfn-font-semi-bold);
        }
    }

    .fecha-container {
        font-family: var(--mpfn-font-regular);
        font-size: 0.95em;
    }

    .btn-crimes-parts {
        cursor: pointer;
        background: var(--mpfn-white);
        color: var(--mpfn-black);
        text-align: center;
        font-family: var(--mpfn-font-semi-bold);
        font-size: 0.9em;
        padding: 6px 5px;
        border-radius: 5px;
        transition: 300ms all ease;
        border: 1.5px solid var(--mpfn-gray2);

        &:hover {
            background: var(--mpfn-gray3);
            border-color: var(--mpfn-gray2);
        }
    }

    .btn-clasification {
        cursor: pointer;
        width: 55px;
        height: 55px;
        background: var(--mpfn-gray7);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        transition: 300ms all ease;
        border: 1.5px solid var(--mpfn-gray6);

        &:hover {
            background: var(--mpfn-gray11);
        }

        img {
            width: 25px;
        }
    }

    .td-justify-center {
        display: flex;
        justify-content: center;
    }
}

:host ::ng-deep .unread {
    .caso-container {
        .cfe-caso {
            font-family: var(--mpfn-font-bold);
        }
    }

    .remitente-container,
    .contact-item,
    .fecha-container {
        font-family: var(--mpfn-font-bold);
    }

    .contact-item {
        span {
            font-family: var(--mpfn-font-bold);
        }
    }
}

.btn-more-options {
    padding: 6px 6px;
    cursor: pointer;
    margin-top: 8px;

    .btn-more-options-content {
        width: 6px;
        display: flex;
        flex-wrap: wrap;

        span {
            width: 6px;
            height: 6px;
            display: inline-block;
            background-color: var(--mpfn-gray5);
            border-radius: 50%;
            margin-bottom: 4.5px;
            transition: 300ms background-color ease;
        }
    }

    &:hover {
        .btn-more-options-content {
            span {
                background-color: var(--mpfn-primary);
            }
        }
    }
}

:host ::ng-deep .menu-options {
    position: absolute;

    .p-menu {
        &.p-menu-overlay {
            min-width: 265px;
            top: -30px !important;
            right: 0 !important;
            left: auto !important;
        }
    }
}

:host ::ng-deep .origin-container {
    position: relative;

    .adjust-origin-label {
        position: absolute;
        top: -24px;
        left: 7px;
    }
}

.boton-w{
    min-width: 160px;
}

@media (max-width: $tablet){
    .cfe-filtros{
        .cfe-filtros-fondo{
            display: flex;
            flex-wrap: wrap;
            .col{
                flex-basis: auto;
            }
        }
    }
}

@media (max-width: 750px){
    .cfe-filtros{
        .cfe-filtros-fondo{
            .col{
                .grid{
                    .col{
                        width: 100%;
                        &.origin-container{
                            margin-top: 35px;
                        }
                    }
                }
            }
        }
    }
}

.cfe-semaforo-dias{
    position: relative;
    display: flex;
    left: -13px;
    color: $gray1;
}
