<br />
<div class="casos_por_recepcionar__header">
  <div class="casos_por_recepcionar_header__content">
    <h3>Disposición que declara complejo la investigación preliminar</h3>
  </div>
</div>
<div class="col-fixed">
  <label for="button" class="font-semibold">&nbsp;</label>
  <p-button
    styleClass="p-button-lg cfe-boton-primary w-full"
    label="Declarar complejo"
    [ngStyle]="{ width: '700px', display: 'inline-block' }"
    (click)="declararComplejo('506014501-2021-590-0')"
  ></p-button>
  <img alt="exito" [src]="icono('success')" alt="" style="width: 25px; margin: 7px" />
</div>
<br />
