<app-filtrar-cuadernos-extremos
  [tipoVista]="tipoVista"
  (buscar)="eventoBuscar($event)"
  (buscarPorTexto)="eventoBuscarPorTexto($event)"
></app-filtrar-cuadernos-extremos>

 <div class="w-full text-right">
     <!---   <button aria-label="Nueva Cuaderno" type="button" class="cfe-boton-primary cfe-boton-m boton-w inline mr-3"
    (click)="unificado()">
    Crear Pestañas
  </button>-->
 <button aria-label="Nueva Cuaderno" 
                    type="button"
                    class="cfe-boton-primary cfe-boton-lg inline ml-0 md:ml-2 mt-1 md:mt-0 md:w-auto family-poppin-bold"
      (click)="nuevoCuaderno()">
      Nuevo Cuaderno
    </button>
  </div>

<div class="mt-5" [ngClass]="{'container-view-list px-2': tipoVista === TipoVistaEnum.Tabla}">

  <div class="grid py-3">
    <div class="col-12 md:col-6">
      <div class="flex align-items-center">
        <img [src]="iconAsset.obtenerRutaIcono('exclamationFolder')" alt="Folder Icon" style="width: 22px"/>
        <h4 class="casos_listados_count mt-2 mb-0">
          {{ paginacionConfiguracion.data.total }} cuadernos listados
        </h4>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="flex flex-column sm:flex-row justify-content-end">
          @if (tipoVista === TipoVistaEnum.Tabla)
          {
            <div class="flex flex-column sm:flex-row justify-content-end mr-0 sm:mr-3">
              <div class="flex align-items-center gap-1 md:gap-2 flex-column sm:flex-row">
                <button class="cfe-boton-secondary cfe-boton-m w-full sm:w-auto mr-0 mb-2 sm:mb-0 justify-content-start" (click)="eventoExportar(TipoExportarEnum.Pdf)">
                  <img [src]="iconAsset.obtenerRutaIcono('pdf')" alt="PDF Icon" class="mr-1"/>
                  Exportar PDF
                </button>
                <button class="cfe-boton-secondary cfe-boton-m w-full sm:w-auto mb-2 sm:mb-0 justify-content-start" (click)="eventoExportar(TipoExportarEnum.Excel)">
                  <img [src]="iconAsset.obtenerRutaIcono('excel')" alt="Excel Icon" class="mr-1"/>
                  Exportar Excel
                </button>
              </div>
            </div>
          }

        <div class="flex gap-3 align-items-center mt-3 sm:mt-0">
          <button aria-label="Vista tipo tarjetas" class="list-type border-none bg-transparent cursor-pointer" [ngClass]="{ active: tipoVista === TipoVistaEnum.Grilla }"
            (click)="eventoTipoVista($event, TipoVistaEnum.Grilla)"
          >
            <i class="pi pi-table mt-1"></i>
          </button>
          <button aria-label="Vista tipo tabla" class="list-type border-none bg-transparent cursor-pointer" [ngClass]="{ active: tipoVista === TipoVistaEnum.Tabla }"
            (click)="eventoTipoVista($event, TipoVistaEnum.Tabla)"
          >
            <i class="pi pi-bars mt-1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  @if (tipoVista === TipoVistaEnum.Tabla) {
    <app-tabla-cuadernos-extremos
            [listaCasos]="listaCasos"
            [casoPadre]="caso"
            [paginacionCondicion]="paginacionCondicion"
            [paginacionConfiguracion]="paginacionConfiguracion"
            [paginacionReiniciar]="paginacionReiniciar"
            (cambiarPagina)="eventoCambiarPagina($event)"
            (casoSeleccionado)="eventoCasoSeleccionado($event)"
            [procesadoCriterioBusqueda]="procesadoCriterioBusqueda"
          ></app-tabla-cuadernos-extremos>
  }

</div>


@if (tipoVista === TipoVistaEnum.Grilla) {
  <div>
    <app-grilla-cuadernos-extremos
    [listaCasos]="listaCasos"
    [casoPadre]="caso"
    [paginacionCondicion]="paginacionCondicion"
    [paginacionConfiguracion]="paginacionConfiguracion"
    [paginacionReiniciar]="paginacionReiniciar"
    (cambiarPagina)="eventoCambiarPagina($event)"
    (casoSeleccionado)="eventoCasoSeleccionado($event)"
    (actualizarListaCuadernos)="actualizarListaCuadernos()"
    >
    </app-grilla-cuadernos-extremos>

    @if (listaCasos.length === 0) {
      <div class="mt-4 py-5 text-center bg-white px-2 text-600 border-300 border-1 border-round font-semibold">
        @if (procesadoCriterioBusqueda===false) {
          En estos momentos no hay cuadernos extremos
        }@else {
          No se encontraron registros con los criterios de búsqueda ingresados
        }
      </div>
    }

  </div>

}
