.registrar-reparacion {
    padding: 0 20px 0 20px;
    .cfe-titulo-1 {
        font-size: 16px !important;
        margin-bottom: 1em;
    }
}


:host ::ng-deep .p-tabview-panels {
  padding: 25px !important;
}