<h3 *ngIf="tipoEtiqueta === 'h3'" [innerHTML]="casoSafeHtml" [style]="{'font-size': fontSize}"></h3>
<h2 *ngIf="tipoEtiqueta === 'h2'" [innerHTML]="casoSafeHtml" [style]="{'font-size': fontSize}"></h2>
<p *ngIf="tipoEtiqueta === 'p'" [innerHTML]="casoSafeHtml" [style]="{'font-size': fontSize}"></p>
<span *ngIf="tipoEtiqueta === 'span'" [innerHTML]="casoSafeHtml" [style]="{'font-size': fontSize}"></span>
<div *ngIf="tipoEtiqueta === 'div'" [innerHTML]="casoSafeHtml" [style]="{'font-size': fontSize}"></div>