.background-white {
  background-color: #ffffff;
}
.card {
  &-header {
    margin-bottom: 20px;
    p {
      font-size: 16px;
      font-weight: 600;
      color: #0f2c52;
    }
  }
  &-body {
    .grid-monitoreo {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      .monitoreo-item {
        border: 1px solid #cccccc;
        border-radius: 4px;
        padding: 16px;
        .monitoreo-status {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin-right: 12px;
          &.red {
            background-color: #c83c3c;
          }
          &.orange {
            background-color: #d9a927;
          }
          &.green {
            background-color: #3cc85a;
          }
        }
        .monitoreo-content {
          h2 {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            line-height: 24px;
            &.red {
              color: #c83c3c;
            }
            &.orange {
              color: #d9a927;
            }
            &.green {
              color: #3cc85a;
            }
          }
          h3 {
            color: #333333;
            margin: 0;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.container-monitoreo {
  &.superior {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
}
// .container-monitoreo {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas responsivas */
//   gap: 1rem;
// }

.term-item {
  font-size: 14px;
  font-weight: 600;
  color: #5f6062;
}

.chart {
  canvas {
    width: 100%;
  }
}

.cfe_bandeja__filters {
  background-color: #ffffff;
  border: 1px solid var(--surface-border);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

:host ::ng-deep {
  // Igualar altura del dropdown Indicador con Fiscales
  #periodo,
  #anho,
  #mes,
  #etapa,
  #indicador,
  #acto,
  #fiscalia,
  #despacho,
  #tramite.p-dropdown {
    height: 40px; // Altura del p-multiSelect
    align-items: center;
    display: flex;
  }

  // Asegurar que el input interno tenga el mismo padding
  .p-dropdown .p-dropdown-label {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.card {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; /* Incluye padding y border en el ancho */
}

.chart-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.chart-container canvas {
  max-width: 100% !important;
  height: auto;
}
.container-monitoreo {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .card {
    padding: 1rem;
  }
  .chart-container {
    padding: 0.5rem;
  }
}
