<div class="p-0 relative modal-width">
  <p-progressBar
    *ngIf="verBarraProgreso"
    mode="indeterminate"
    [style]="{ height: '6px' }"
  ></p-progressBar>
  <div class="cfe-encabezado-modal">
    <h3
      class="cfe-encabezado-titulo cfe-subtitulo-3 cfe-semi-bold"
      [innerHTML]="tituloModal"
    ></h3>

    <fn-icon
      class="cfe-encabezado-cerrar"
      [ico]="obtenerIcono('iClose')"
      height="2rem"
      (click)="cerrarModal()"
    ></fn-icon>
  </div>
  <h5>Plazos actuales</h5>
  <div class="formgrid grid" [formGroup]="formRegistro">
    <div class="field col-12 lg:col-6">
      <label for="fechaInicioInvestigacionPreliminar" class="font-semibold"
        >Fecha de inicio de investigación {{ tipoInvestigacion }}</label
      >
      <input
        pInputText
        id="feciniinvpre"
        type="text"
        id="fechaInicioInvestigacionPreliminar"
        formControlName="fechaInicioInvestigacionPreliminar"
        readonly
        class="p-inputtext py-3 w-full"
      />
    </div>
    <div class="field col-12 lg:col-6">
      <label for="fechaFinInvestigacionPreliminarActual" class="font-semibold"
        >Fecha fin de investigación {{ tipoInvestigacion }} actual</label
      >
      <input
        pInputText
        id="fechaFinInvestigacionPreliminarActual"
        type="text"
        id="fechaFinInvestigacionPreliminarActual"
        formControlName="fechaFinInvestigacionPreliminarActual"
        readonly
        class="p-inputtext py-3 w-full"
      />
    </div>

    <div class="col-12">
      <h5>Asignar nuevo Plazo</h5>
    </div>

    <div class="field col-12 lg:col-3">
      <label for="plazo" class="font-semibold">{{ tituloNumeroPlazo }}</label>
      <input
        pInputText
        id="plazo"
        maxlength="4"
        digitOnly
        formControlName="plazo"
        type="text"
        class="p-inputtext py-3 w-full"
        required
      />
      <small
        class="error-message"
        *ngIf="
          formRegistro.get('plazo')!.touched &&
          (formRegistro.get('plazo')!.hasError('required') ||
            formRegistro.get('plazo')!.hasError('minlength'))
        "
      >
        Ingrese un valor mayor a cero
      </small>
      <small
        class="error-message"
        *ngIf="
          formRegistro.errors &&
          formRegistro.errors['unidadMedidaCheck'] &&
          (formRegistro.touched || formRegistro.dirty)
        "
      >
        Seleccione unidad de medida
      </small>
      <small
        class="error-message"
        *ngIf="
          formRegistro.get('plazo')!.touched &&
          formRegistro.get('plazo')!.hasError('min')
        "
      >
        Ingrese un valor mayor a cero
      </small>
    </div>
    <div class="field col-12 lg:col-4">
      <label for="unidadMedida" class="font-semibold">Unidad de medida</label>
      <p-dropdown
        id="unidadMedida"
        formControlName="unidadMedida"
        placeholder="Seleccione unidad de medida"
        styleClass="py-1 p-inputtext-lg"
        [options]="unidadesMedidas"
        optionLabel="label"
        optionValue="value"
      >
      </p-dropdown>
      <small
        class="error-message"
        *ngIf="
          formRegistro.get('unidadMedida')!.touched &&
          formRegistro.get('unidadMedida')!.hasError('required')
        "
      >
        Seleccione Unidad de Medida
      </small>
    </div>
    <div class="field col-12 lg:col-5">
      <label for="nuevaFechaFinCalculada" class="font-semibold"
        >Nueva fecha fin calculada</label
      >
      <input
        pInputText
        id="nuevaFechaFinCalculada"
        formControlName="nuevaFechaFinCalculada"
        type="text"
        class="p-inputtext py-3 w-full"
      />
    </div>
    <div class="col-12">
      <p-messages
        [(value)]="msgs2"
        [enableService]="false"
        [escape]="false"
      ></p-messages>
    </div>

    <!-- <div class="field col-12 mb-3" *ngIf="flagSedeInvestigacion">
      <label for="sede"  class="font-semibold">Sede de investigación</label>
      <p-dropdown id="sede" formControlName="sede"
                  styleClass="py-1 p-inputtext-lg" [options]="sedes"
                  placeholder="Seleccione sede de investigación"
                  optionLabel="label" optionValue="value">
      </p-dropdown>
      <small class="error-message" *ngIf="formRegistro.get('sede')!.touched
                && (formRegistro.get('sede')!.hasError('required'))">
        Seleccione Sede
      </small>
    </div> -->
    <div class="col-12">
      <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
    </div>

    <div class="field col-12">
      <label for="descripcion" class="font-semibold"
        >Descripción ({{ descripcion?.value?.length ?? 0 }}/200)</label
      >
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        id="descripcion"
        formControlName="descripcion"
        #descripcion
        class="p-inputtext-lg py-3 text-lg w-full"
        placeholder="Ingrese descripción"
        maxlength="200"
      >
      </textarea>
      <small
        class="error-message"
        *ngIf="
          formRegistro.get('descripcion')!.touched &&
          formRegistro.get('descripcion')!.hasError('required')
        "
      >
        Ingrese Descripción
      </small>
    </div>
  </div>

  <div class="flex justify-content-end option-container">
    <p-button
      styleClass="cfe-boton-primary text-white font-semibold px-4 py-1.2 with-button"
      label="Ampliar"
      (onClick)="ampliar()"
    ></p-button>
  </div>
</div>
