.badge-contiendas {
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 13px;
}

.badge-positiva {
  background-color: #2B8EE3; /* verde */
}

.badge-negativa {
  background-color: #C5CCD4;
  color: #1C3D54
}

.badge-manual {
  background-color: #C1292E;
}