<div class="p-4">
  <div class="cfe-encabezado-modal">
    <h3 class="cfe-encabezado-titulo cfe-subtitulo-3 cfe-semi-bold">
      Seleccionar resultado que concede la apelación
    </h3>
    <fn-icon
      (click)="cerrarModal()"
      [ico]="obtenerIcono('iClose')"
      class="cfe-encabezado-cerrar"
      height="2rem">
    </fn-icon>
  </div>

  <div class="mt-3">
    <h6
      class="cfe-encabezado-titulo cfe-subtitulo-3"
      [innerHTML]="tituloCaso"
    ></h6>
    <p class="cfe-body-2 mt-2">
      Seleccione los sujetos procesales a los que se les ha concedido la apelación.
    </p>
  </div>

  <div class="mt-3">
    <span class="cfe-body-2 cfe-semi-bold">
       <i class="pi pi-circle-fill mr-2" [style.color]="'var(--mpfn-green)'"></i>
       Recurso de apelación presentado por el fiscal ({{ nuApelacionFiscal }})
    </span>
  </div>

  <div class="cfe-tabla-white mt-3">
    <p-table
      class="cfe-table-primary"
      [value]="listaSujetosConApelacion"
      [tableStyle]="{ 'min-width': '70rem' }"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 50]"
      [totalRecords]="listaSujetosConApelacion.length"
      styleClass="p-datatable-sm"
      responsiveLayout="stack">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th style="width: 3rem">N°</th>
          <th>¿Quién apeló?</th>
          <th>¿En contra de quién se apeló?</th>
          <th>Delito</th>
          <th>Tipo de sentencia (PPC)</th>
          <th style="width: 8rem">Clase de pena</th>
          <th style="width: 8rem">Reparación civil</th>
          <th>Resultado de la apelación</th>
          <th>Resultado de queja</th>
          <th style="width: 5rem">Concede apelación</th>
        </tr>
      </ng-template>
      <ng-template let-item let-i="rowIndex" pTemplate="body">
        <tr>
          <td class="text-center">
            <span class="p-column-title font-semibold"></span>
            <i *ngIf="item.flApelacionFiscal === 1" class="pi pi-circle-fill mr-2" [style.color]="'var(--mpfn-green)'"></i>
          </td>
          <td class="text-center">
            <span class="p-column-title font-semibold">N°</span>
            {{ i + 1 }}
          </td>
          <td>
            <span class="p-column-title font-semibold">¿Quién apeló?</span>
            <ng-container *ngIf="item.sujetoQuienApela?.trim(); else guion">
              {{ item.sujetoQuienApela | capitalizar }}<br />
              ({{ item.noTipoParteSujetoApela | capitalizar }})
            </ng-container>
            <ng-template #guion>-</ng-template>
          </td>
          <td>
            <span class="p-column-title font-semibold">¿En contra de quién se apeló?</span>
            {{ item.sujeto }}
          </td>
          <td>
            <span class="p-column-title font-semibold">Delito</span>
            {{ item.delito }}
          </td>
          <td>
            <span class="p-column-title font-semibold">Tipo de sentencia</span>
            {{ item.sentencia }}
          </td>
          <td class="text-center">
            <span class="p-column-title font-semibold">Clase de pena</span>
            @if (item.checkPenaMostrar === 1) {
              <ng-container>
                <div style="display: flex; align-items: center; flex-wrap: nowrap;">
                  <p-checkbox
                    [disabled]="true"
                    [(ngModel)]="item.checkPenaSeleccionar"
                    [binary]="true">
                  </p-checkbox>
                  <span class="ml-2">{{ item.tipoPena }}</span>
                </div>
              </ng-container>
            } @else {
              -
            }
          </td>
          <td class="text-center">
            <span class="p-column-title font-semibold">Reparación civil</span>
            @if (item.checkReparacionCivilMostrar === 1) {
              <ng-container>
                <p-checkbox [disabled]="true" [(ngModel)]="item.checkReparacionCivilSeleccionar" [binary]="true"></p-checkbox>
              </ng-container>
            } @else {
              -
            }
          </td>
          <td>
            <span class="p-column-title font-semibold">Resultado de la apelación</span>
            {{item.noTipoRespuestaInstancia1}}
          </td>
          <td>
            <span class="p-column-title font-semibold">Resultado de queja</span>
            {{item.noTipoRespuestaQueja}}
          </td>
          <td class="text-center">
            <span class="p-column-title font-semibold">Concede apelación</span>
            @if (item.idTipoRespuestaQueja === 1059) {
              <ng-container>
                <p-checkbox [disabled]="!esEditable(item)" [(ngModel)]="item.checkResultadoRecursoQuejaSeleccionar" [binary]="true"></p-checkbox>
              </ng-container>
            } @else {
              -
            }
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9" class="text-center">No se ha agregado ninguna apelación.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="flex align-items-center mt-3 p-3 border-round-sm" style="background-color: #FFFBEB;">
    <i class="pi pi-info-circle mr-2" style="color: #F59E0B;"></i>
    <p class="cfe-body-2" style="color: #6B4F04;">
      Los sujetos procesales cuyo resultado es "Concede apelación", se les creará un cuader de apelación con el número de expediente enviado por el Poder Judicial; para realizar la elevación a la Físcalia Superior.
    </p>
  </div>

</div>
<div class="col-12 flex align-items-center justify-content-center mt-3 mb-2">
  <button class="cfe-boton-opcion cfe-boton-secondary cfe-boton-lg font-semibold with-button"
          (click)="cancelar()">
    Cancelar
  </button>
  <button class="ml-3 cfe-boton-primary cfe-boton-lg font-semibold with-button"
          [disabled]="!showBtnAceptar()"
          (click)="aceptar()">
    Aceptar
  </button>
</div>
