.filtrar-consulta {
    background-color: rgb(218, 210, 191);
    .bg-institucional {
        background-color: var(--institucional-background);
    }
}

.formgrid {
    .p-inputtext.p-inputtext-lg {
        padding: 0.755rem 1rem;
    }

}