.label-info-secondary {
    color: var(--mpfn-secondary);
}
  
.label-bg-warning {
    background-color: #F8EED3;
}

strong {
    color: var(--mpfn-secondary);
}

b {
    color: var(--mpfn-secondary) !important;
}