<div
    class="flex-center border-round-lg p-3 gap-2 label-bg-warning"
    [ngClass]="{ 'hidden': cerrarLabel }"
>
    <fn-icon
        class="label-info-secondary"
        [ico]="iconUtil.obtenerIcono('iInfoCircle')"
        height="1.5rem"
    />
    @if ( !this.personalizado() ) {
        <span class="text-md">Complete la información de <strong>{{ titulo() }}</strong>, para completar la recepción</span>
    }
    @else {
        <span class="text-md" [innerHTML]="tituloHtml"></span>
    }
    @if ( closable() ) {
        <div class="ml-auto">
            <fn-icon
                class="cursor-pointer"
                [ico]="iconUtil.obtenerIcono('iClose')"
                height="1.5rem"
                (click)="cerrarLabel = true" 
                onkeydown=""
            />
        </div>
    }
</div>