.acuerdo-reparatorio {
    background: #F5F2E0;
    padding: 20px;
    width: 1267px;
}

:host::ng-deep .modal__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 15px 10px;

    .modal_header__content {
        display: flex;
        align-items: center;
        .cfe-titulo-1 {
            font-size: 1.20em;
            span {
                color: var(--mpfn-secondary) !important;
            }
        }
    }
}