<div class="w-full h-full flex flex-column">
    <b class="mb-3 cfe-subtitulo-2 flex justify-content align-items-center"><i class="pi pi-file"></i>&nbsp;ENVIAR TRÁMITE:</b>
    <small><b>CASO A ENVIAR:</b> {{ idCaso }}</small>
    <small class="mb-3"><b>TRÁMITE:</b> Disponer indagaciones previas</small>
    <small><b>Objetivo</b></small>
    <p-dropdown styleClass="w-full mb-2 h-1rem"></p-dropdown>

    <small><b>Destino</b></small>
    <p-dropdown styleClass="w-full h-1rem"></p-dropdown>

    <div class="mb-3">
        <small><b>Comentarios</b></small>

    </div>
</div>
