
/* Estilo personalizado para los chips */
::ng-deep .p-multiselect-token {
  background-color: transparent !important; /* Color de fondo del chip */
  color: var(--mpfn-black) !important; /* Color del texto dentro del chip */
}

/* Estilo para el ícono de eliminación del chip */
::ng-deep .p-multiselect-token-icon {
  color: var(--mpfn-red) !important; /* Color del ícono de la "X" */
  font-size: 2rem !important; /* Tamaño del ícono de la "X" */
  cursor: pointer; /* Cambiar el cursor al pasar sobre un chip */
}

::ng-deep .chip-scroll-vertical .p-multiselect-label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: 120px; /* Ajusta esto según cuántos chips quieras mostrar */
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  gap: 4px; /* espacio entre chips opcional */
}

::ng-deep .p-multiselect-token-label {
  white-space: normal !important;
}
