<div class="bandeja_tramites__table">
  <div class="bandeja_tramites_table__content">
    <p-table
      [value]="registrosBandeja"
      [paginator]="true"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="{first} de {last} registros"
      [breakpoint]="'992px'"
      responsiveLayout="stack"
      class="table_td_content_responsive"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>N°</th>
          <th>Fiscalía</th>
          <th>Despacho</th>
          <th>Fiscal</th>
          <th>Caso</th>
          <th>Complejidad</th>
          <th>Etapa</th>
          <th>F.Ini.Etapa</th>
          <th style="width: 175px">Plazos días</th>
          <th style="width: 175px">Días Trans.</th>
          <th style="width: 175px">Días Total</th>
          <th style="width: 175px">Indicador</th>
          <th style="width: 125px">
            <!-- -->
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-registro let-i="rowIndex">
        <tr class="p-selectable-row">
          <td>{{ i + 1 }}</td>
          <td>{{ registro.nombreEntidad }}</td>
          <td>{{ removeInvisibleCharacters(registro.nombreDespacho) }}</td>
          <td>{{ registro.fiscal }}</td>
          <td>{{ registro.numeroCaso }}</td>
          <td>{{ registro.tipoComplejidad }}</td>
          <td>{{ registro.etapa }}</td>
          <td>
            {{ registro.fechaInicioEtapa | date:'dd/MM/yyyy' }}
          </td>
          <td>{{ registro.plazo }}</td>
          <td>
            {{ registro.diasTranscurrido }}
          </td>
          <td>{{ registro.diasTotal }}</td>
          <td class="text-center">
            <ng-container [ngSwitch]="registro.indicador">
              <span *ngSwitchCase="'VERDE'" class="dentro-del-plazo"></span>
              <span *ngSwitchCase="'AMBAR'" class="plazo-por-vencer"></span>
              <span *ngSwitchCase="'ROJO'" class="plazo-vencido"></span>
              <span *ngSwitchDefault>{{ registro.indicador }}</span>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="no-before" colspan="8" style="text-align: center">
            No se encontraron registros con los criterios de búsqueda ingresados
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<!--<p-toast></p-toast>-->
