<div class="resumen-resultado p-grid p-4">
    <div class="p-col-12">
        <div class="flex align-items-center">
            <h4 class="cfe-titulo-1">Imputados</h4>
        </div>
        <p-table class="cfe-table-primary" [value]="listaImputados" responsiveLayout="stack" dataKey="idSujetoCaso"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="{first} de {last} registros">
            <ng-template pTemplate="header">
                <tr>
                    <th>N°</th>
                    <th>Nombres y apellidos / Razón social</th>
                    <th>Salida Alterna</th>
                    <th style="width: 5rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-imputado let-expanded="expanded" let-rowIndex="rowIndex">
                <tr [pRowToggler]="imputado" class="cursor-pointer">
                    <td>{{rowIndex + 1}}</td>
                    <td>{{imputado.nombreSujeto}}</td>
                    <td>{{formatoSalidaAlterna(imputado.salidaAlterna)}}</td>
                    <td>
                        <button type="button" pButton pRipple class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-imputado let-imputadoIndex="rowIndex">
                <td colspan="4">
                    <p-table class="table-delitos" [value]="imputado.listaDelitos" >
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th>Delitos</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-delito let-rowIndex="rowIndex">
                            <tr>
                              <td>{{ imputadoIndex + 1 }}.{{ rowIndex + 1 }}</td>
                                <td>{{capitalizedFirstWord(delito.delito)}}</td>
                                <td>{{capitalizedFirstWord(delito.salidaAlterna)}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4">No hay delitos registrados para este imputado.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </td>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">
                        <div class="text-center">No se han registrado imputados</div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="p-col-12">
        <div class="flex align-items-center">
            <h4 class="cfe-titulo-1">Agraviados / Actor Civil</h4>
        </div>
        <p-table class="cfe-table-primary" [value]="listaAgraviadosActores" [rowHover]="true" responsiveLayout="stack"
            [paginator]="true" dataKey="idSujetoCaso" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }" currentPageReportTemplate="{first} de {last} registros">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nº</th>
                    <th>Nombres y apellidos / Razón social</th>
                    <th>Tipo de sujeto procesal</th>
                    <th>Salida alterna</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-imputado let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{ imputado.nombreSujeto }}</td>
                    <td>{{ capitalizedFirstWord(imputado.noTipoParteSujeto) }}</td>
                    <td>{{ formatoSalidaAlterna(imputado.salidaAlterna) }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">
                        <div class="text-center">No se han registrado agraviados / actores civiles</div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
