<div class="">
  <div class="cfe-encabezado-modal">
    <h3
      [innerHTML]="tituloModal"
      class="cfe-encabezado-titulo cfe-subtitulo-3 cfe-semi-bold">
    </h3>
    <fn-icon
      (click)="cancelar()"
      [ico]="obtenerIcono('iClose')"
      class="cfe-encabezado-cerrar"
      height="2rem">
    </fn-icon>
  </div>
  <br/>
  <h6 class="cfe-encabezado-titulo cfe-subtitulo-3 cfe-semi-bold">Pestaña de apelación N° 0{{nuPestana}}</h6>
  <h6
    class="cfe-encabezado-titulo cfe-subtitulo-3 cfe-semi-bold mt-4"
    [innerHTML]="tituloCaso"
  ></h6>
  <h6 *ngIf="nivelApelacion === 'sujeto'">Seleccione los sujetos procesales a los que se le ha declara admisible y/o inadmisible la calificación de la apelación por la Sala Superior.</h6>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 100 100">
    <circle cx="50" cy="50" r="40" fill="#3cc85a"/>
  </svg>
  <span class="ml-1">Resultado de la apelación presentada por el fiscal provincial ({{nuApelacionFiscal}})</span>
  <svg class="ml-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 100 100">
    <circle cx="50" cy="50" r="40" fill="#B3B3B3"/>
  </svg>
  <span class="ml-1">Apelaciones desestimadas</span>


  <div class="cfe-tabla-white mt-5">
    <p-table
      class="cfe-table-primary"
      [tableStyle]="{ 'min-width': '50rem' }"
      [sortField]="'nombre'"
      [sortOrder]="1"
      [styleClass]="'p-datatable-sm'"
      [value]="sujetosProcesalesFiltrados"
      responsiveLayout="stack">
      <ng-template let-columns pTemplate="header">
        <tr>
          <th class="columna-nro" pSortableColumn="nro">N°</th>
          <th class="columna-nombre" pSortableColumn="nombre">Nombres y apellidos /<br/>Razón social</th>
          <th class="columna-tipo" pSortableColumn="tipo">Tipo de sujeto<br/>procesal</th>
          <th class="columna-resultado-primera-instancia" pSortableColumn="resultado-primera-instancia">Resultado<br/>(1era instancia)</th>
          <th class="columna-resultado-apelacion" pSortableColumn="resultado-apelacion">Resultado de la <br/>apelación</th>
          <th class="columna-respuesta-queja" pSortableColumn="respuesta-queja">Respuesta de queja</th>
          <th class="columna-resultado-desistimiento" pSortableColumn="columna-resultado-desistimiento">Resultado del <br/>desistimiento (2da instancia)</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" let-item pTemplate="body">
        <tr class="p-selectable-row">
          <td style="text-align: center; vertical-align: middle;">
            <span class="p-column-title font-semibold">N°</span>
            {{ i + 1 }}
          </td>
          <td style="text-align: left; vertical-align: middle;">
            <span class="p-column-title font-semibold">Nombres y apellidos / Razón social</span>
            <svg *ngIf="item.flApelacionFiscal === '1'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 100 100">
              <circle cx="50" cy="50" r="40" fill="#3cc85a"/>
            </svg>
            {{ item.nombreCompleto | capitalizar }}
          </td>
          <td style="text-align: left; vertical-align: middle;">
            <span class="p-column-title font-semibold">Tipo de sujeto procesal</span>
            {{ item.noTipoParteSujeto }}
          </td>
          <td style="text-align: left; vertical-align: middle;">
            <span class="p-column-title font-semibold">Resultado (1era instancia)</span>
            {{ item.noTipoRespuestaInstancia1 | capitalizar }}
          </td>
          <td style="text-align: left; vertical-align: middle;">
            <span class="p-column-title font-semibold">Resultado de la apelación</span>
            {{ (item.noTipoRespuestaApelacion ?? '-') | capitalizar }}
            <span *ngIf="item.flAudienciaApelacion" class="apelacion-audiencia">Apeló en audiencia</span><br/>
            <span *ngIf="item.flAudienciaQueja" class="queja-audiencia">Se quejo en audiencia</span>
          </td>
          <td style="text-align: left; vertical-align: middle;">
            <span class="p-column-title font-semibold">Respuesta de queja</span>
            {{ item.noTipoRespuestaQueja ?? '-' }}
          </td>
          <td style="text-align: center; vertical-align: middle;">
            <span class="p-column-title font-semibold">Resultado del desistimiento (2da instancia)</span>
            <p-dropdown styleClass="py-1 p-inputtext-lg" placeholder="Seleccione..."
                        [options]="listaRespuesta"
                        optionLabel="nombre"
                        optionValue="id"
                        appendTo="body"
                        (onChange)="onSelectionChange(item, $event)"
                        [(ngModel)]="item.idTipoRespuestaDesistimiento"
                        [showClear]="true"
                        [disabled]="soloLectura || (item.idTipoRespuestaDesistimiento !== 0 && item.idActoTramiteCasoGuardado !== null && item.idActoTramiteCasoGuardado !== idActoTramiteCaso)"
            >
              <ng-template let-respuesta pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ respuesta.nombre }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No se encontró información de sujetos procesales.</td>
        </tr>
      </ng-template>
    </p-table>
    <app-paginator
      (paginate)="onPaginate($event)"
      [items]="itemPaginado"
      [query]="query"
      [rowsPerPageOptions]="[]">
    </app-paginator>
  </div>
</div>
<div class="col-12 flex align-items-center justify-content-center mt-2 mb-2">
  <button class="cfe-boton-opcion cfe-boton-secondary cfe-boton-lg font-semibold with-button"
          (click)="cancelar()">
    Cancelar
  </button>
  <button class="ml-3 cfe-boton-primary cfe-boton-lg font-semibold with-button"
          [disabled]="!mostrarBtnAceptar || soloLectura"
          (click)="aceptar()">
    Aceptar
  </button>
</div>
