<div class="cfe-container">
  <form class="sujeto_procesal__filters" [formGroup]="formSujetoProcesal">
    <div class="grid mt-1">
      <div class="col">
        <div class="field mb-0">
          <label class="font-semibold">Buscar:</label>
          <input pInputText type="text" class="p-inputtext-lg py-3 text-lg w-full"
            [placeholder]="mostrarFiltros ? '' : 'Ingrese nombres, apellidos, número de documento o cualquier campo de los sujetos'"
            formControlName="buscar" 
            [disabled]="mostrarFiltros"/>
        </div>
      </div>

      <div class="col-fixed" style="width: 70px;" [ngClass]="{'cfe-filtro-boton-fondo': mostrarFiltros}">
        <div class="field mb-0">
          <label class="font-semibold">&nbsp;</label>
          <button class="cfe-filtro-boton" (click)="eventoMostrarOcultarFiltros()">
            <fn-icon [ico]="obtenerIcono('iFilterShow')" height="2.1rem"></fn-icon>
          </button>
        </div>
      </div>
    </div>
    @if (mostrarFiltros) {
    <div class="grid mt-1 cfe-filtros">
      <div class="cfe-filtros-fondo">
        <div class="col-12 md:col-12">
          <div class="field mb-0">
            <label class="font-semibold">Tipo de sujeto procesal</label>
            <p-dropdown styleClass="p-inputtext-lg py-1" [options]="tiposSujetoProcesal" optionValue="id"
              optionLabel="nombre" emptyMessage="Sin resultados" placeholder="Seleccione un tipo de sujeto procesal"
              [filter]="true" filterBy="nombre" [showClear]="true" formControlName="tipoSujetoProcesal" (onClear)="limpiarTipoSujeto()">
              <ng-template let-tipoSujetoProcesal pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ tipoSujetoProcesal.nombre }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>

      </div>
      <div class="cfe-filtros-fondo cfe-filtros-opciones">
        <button class="cfe-boton-secondary cfe-boton-m mr-2 boton-w" (click)="limpiarFiltros()">Limpiar filtros
        </button>
        <button class="cfe-boton-primary cfe-boton-m mr-2 boton-w" (click)="obtenerSujetoProcesalConFiltro()">Buscar
        </button>
      </div>
    </div>
    }
  </form>

  <div class="sujeto_procesal__table">
    <div class="sujeto_procesal_table__title grid">
      <div class="sujeto_procesal_table_title__content col-4">
        <fn-icon [ico]="obtenerIcono('iFolderExclamation')" height="1.8rem"
          [style]="{'margin-left': '-12px'}"></fn-icon>
        <h4 class="cfe-subtitulo-1">{{ totalSujetosProcesales }} sujetos procesales registrados</h4>
      </div>
      <div class=" col-12 md:col-8 flex flex-column sm:flex-row justify-content-end align-items-center pr-0">
        <button
          class="cfe-boton-secondary cfe-boton-m cfe-boton-icono-izquierda w-full sm:w-auto mr-0 sm:mr-3 mb-2 sm:mb-0 justify-content-start"
          (click)="exportar('PDF')">
          <fn-icon class="ml-1" [ico]="obtenerIcono('iFileDownload')" height="1.6rem"></fn-icon>
          Exportar PDF
        </button>
        <button class="cfe-boton-secondary cfe-boton-m cfe-boton-icono-izquierda w-full sm:w-auto mr-0 sm:mr-3 mb-2 sm:mb-0 justify-content-start"
          (click)="exportar('Excel')">
          <fn-icon class="ml-1" [ico]="obtenerIcono('iTable')" height="1.6rem"></fn-icon>
          Exportar Excel
        </button>
        @if (!esSoloLectura) {
        <button
          class="cfe-boton-primary cfe-boton-m cfe-boton-icono-izquierda w-full sm:w-auto"
          (click)="abrirRegistrarSujetoProcesal()">Nuevo sujeto
        </button>
        }
      </div>
      <div class="col-12">      
        <span class="circulo circulo--verde mr-3"></span> Con delito tipificado  
      </div>
    </div>

    <div class="sujeto_procesal_table__content">
      <p-table 
        class="table_td_content_responsive"
        responsiveLayout="stack"
        [value]="sujetosProcesalesFiltrados" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowHover]="true" 
        [showCurrentPageReport]="true" 
        [breakpoint]="'992px'" 
        >
        <ng-template pTemplate="header">
          <tr>
            <th id="nro"> N° </th>
            <th id="delito"></th>
            <th id="tipoSujeto"> Tipo de sujeto procesal </th>
            <th id="numeroDocumento"> Número de documento </th>
            <th id="nombres"> Nombres y apellidos / Razón Social </th>
            <th id="alias"> Alias </th>
            <th id="validacion"> </th>
            <th id="opciones" *ngIf="!esSoloLectura" style="min-width: 245px;text-align: right;">
              Acciones
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sujetoprocesal let-rowIndex="rowIndex">
          <tr>
            <td data-column-name="N°">
              {{ rowIndex + 1 }}
            </td>
            <td data-column-name="Delito" >
                @if(sujetoprocesal.cantidadDelitos !== '0'){
                  <span class="circulo circulo--verde" ></span> 
                }                 
            </td>
            <td data-column-name="Tipo de sujeto procesal" >
              <div class="">{{ sujetoprocesal.tipoSujetoProcesal }}</div>
              @if (sujetoprocesal.menorEdad !== null) {
                  <span class="badge badge-menor-edad">
                    {{ sujetoprocesal.menorEdad }}
                  </span>
              }
            </td>
            <td data-column-name="Número de documento">
              <div>
                <div class="">{{ sujetoprocesal.numeroDocumento }}</div>
                @if (!sujetoprocesal.tipoSujetoProcesal.includes("Estado") 
                    && !sujetoprocesal.tipoSujetoProcesal.includes("Sociedad")
                    && !sujetoprocesal.tipoSujetoProcesal.includes("LQRR")) {
                  <span class="badge badge-{{ obtenerClaseDeNumeroDocumento(sujetoprocesal.documentoIdentidad) }}">
                    {{ sujetoprocesal.documentoIdentidad }}
                  </span>
                }
              </div>
            </td>
            <td data-column-name="Nombres y apellidos / Razón Social">
              <div>
                <div class="">{{ sujetoprocesal.datosPersonales }}</div>
              </div>
            </td>
            <td data-column-name="Alias">
              @if(sujetoprocesal.mostrarIcono==='0') {
                {{ sujetoprocesal.alias ?? '-' }}
              } @else {
                @if(sujetoprocesal.verificado==='1') {
                  {{ sujetoprocesal.alias ?? '-' }}
                }@else {
                  -
                }
              }
            </td>

            <td class="no-before caso-container">
            @if(sujetoprocesal.mostrarIcono==='1') {
              @if(sujetoprocesal.verificado==='1') {
              <div style="text-align: center;">
                <img [src]="iconAsset.obtenerRutaIcono('check-circle')" alt="validado" class="pr-2 h-2rem">
              </div>
              }

              @if(sujetoprocesal.verificado==='0') {
              <div style="text-align: center;">
                <img [src]="iconAsset.obtenerRutaIcono('error-orange')" alt="pendiente" class="pr-2 h-2rem">
              </div>
              }
              <div class="flex justify-content-center flex-column">
                <span style="position: relative;display: flex; justify-content:center"
                  [innerHTML]="obtenerValidacionSujeto(sujetoprocesal.parteValidada, sujetoprocesal.verificado)"></span>
                @if ((sujetoprocesal.manual==='1' && sujetoprocesal.verificado==='0' && sujetoprocesal.numeroDocumento !== '-' && !esSoloLectura )) {
                  <u class="link" (click)="consultarValidacionFiscal(sujetoprocesal.idSujetoCaso)" onkeypress="">Validación manual</u>
                }
              </div>
            }
            </td>

            <td *ngIf="!esSoloLectura" data-column-name="Acciones">
              <div class="flex gap-1" style="justify-content: right;">

                @if(sujetoprocesal.flgCuaderno == '1') {
                <button pButton class="p-button-secondary" (click)="abrirCuadernosModal(sujetoprocesal)">
                  <img [src]="iconAsset.obtenerRutaIcono('cuadernos')" alt="Close Icon" />
                </button>
                }

                @if(sujetoprocesal.tipoSujetoProcesal === 'Denunciante' && !existeMismoAgraviado || sujetoprocesal.tipoSujetoProcesal !== 'Denunciante'){
                  <button pButton class="p-button-secondary"
                  (click)="abrirEditarSujetoProcesal(sujetoprocesal.idSujetoCaso)">
                  <fn-icon class="ml-1" [ico]="obtenerIcono('iEdit')" height="1.6rem" />
                  </button>
                  <button pButton class="p-button-danger" (click)="eliminarSujetoProcesal(sujetoprocesal.idSujetoCaso)">
                  <fn-icon class="ml-1" [ico]="obtenerIcono('iTrash')" height="1.6rem" />
                  </button>
                }                
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" class="no-before" style="text-align: center;">
              No se encontraron registros con los criterios de búsqueda ingresados
            </td>
          </tr>
        </ng-template>
      </p-table>

      <app-paginator
        [query]="query"
        [items]="itemPaginado"
        [rowsPerPageOptions]="[]"
        (paginate)="eventoOnPaginate($event)"
      ></app-paginator>
    </div>
  </div>
</div>
