.tarjeta-cabecera-contenedor, .card-body-z{
  cursor: pointer;
}
.card-body-z{
  transition: border 0.3s ease,
  box-shadow 0.3s ease;
  border: #fff solid 1px;
  background-color: #fff;
}
.card-body-z.leido{
  border: #e7eaed solid 1px !important;
  background-color: #E7EAED;
}
.tarjeta-cabecera-contenedor:hover + .card-body-z, .card-body-z:hover {
  border: #3F9FD6 solid 1px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.etiqueta-retiro {
  margin-bottom: 1.5rem;
}
.boton-etiqueta--rojo-claro {
  color: #dc3545;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}