<div class="cfe-dropdown__menu" *ngIf="isActiveMenuAlertasPlazos">
    <div class="cfe-dropdown__menu--header flex justify-content-between">
        <div class="cfe-title" style="width: 80%; text-align: start;">
            <h2>Alertas</h2>
            <p>Plazos</p>
        </div>
        <div class="iconos" style="width: 20%;">
            <div class="cfe-icon">
                <fn-icon [ico]="obtenerIcono('iAlert')" height="28px"></fn-icon>
                <fn-icon [ico]="obtenerIcono('iClose')" height="28px" (click)="closeMenuAlertas()"></fn-icon>
            </div>
        </div>
    </div>
    <div class="cfe-dropdown__menu--content">
        <div class="cfe-tabs">
            <p-tabMenu class="cfe-tabs--plazos"
                       [model]="menuItemsAlertasPlazos"
                       [activeItem]="activeItemAlertaPlazo"
                       (activeItemChange)="onActiveItemAlertaPlazoChange($event)"></p-tabMenu>
        </div>
        <div class="cfe-tabs__container" *ngIf="activeItemAlertaPlazo.label == 'Pendientes'">
            <div class="cfe-tabs__container--content">
                <div (click)="irAlerta(1,item)" class="cfe-alerta__item alerta-plazo-pendiente"
                    *ngFor="let item of listaAlertasPendientes">
                    <div class="cfe-alerta__item--header-alerta-plazo-pendiente flex justify-content-between">
                        <h2>{{ item.titulo }}</h2>
                        <p-menu #menu [model]="items(item)" [popup]="true" class="menu-options"></p-menu>
                        <div class="btn-more-options" (click)="menu.toggle($event)">
                            <div class="btn-more-options-content">
                                <span></span><span></span><span></span>
                            </div>
                        </div>
                    </div>
                    <div class="cfe-alerta__item--content">
                        <p>{{ item.texto}}</p>
                    </div>
                    <div class="cfe-alerta__item--time">
                        <span>{{item.fechaCreacion | tiempoSegundos}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cfe-tabs__container" *ngIf="activeItemAlertaPlazo.label == 'Solucionadas'">
            <div class="cfe-tabs__container--content">
                <div class="cfe-alerta__item alerta-plazo-solucionadas" *ngFor="let item of listaAlertasSolucionadas">
                    <div class="cfe-alerta__item--header">
                        <h2>{{ item.titulo }}</h2>
                    </div>
                    <div class="cfe-alerta__item--content">
                        <p>{{ item.texto}}</p>
                    </div>
                    <div class="cfe-alerta__item--time">
                        <span>{{item.fechaCreacion | tiempoSegundos}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cfe-tabs__actions_plazos" (click)="verAlertas()">
            <span>Ver todas las alertas</span>
        </div>
    </div>
</div>
