.datos-reparacion {
    hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: #ccc;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
.datos-reparacion-vacio{
    width: 100%;
    height: 850px;
}
