
.cfe-modal{
    width: 550px;
}
.columna-seleccionar{
    width: 5%;
}
.columna-articulo{
    width: 11%;
}
.columna-generico{
    width: 28%;
}
.columna-subgenerico{
    width: 20%;
}
.columna-especifico{
    width: 36%;
}

.cfe-boton-m{
    width: 170px;
}

.busqueda-icono{
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.p-inputtext{
    padding-right: 48px;
}