<!-- Se crea una plantilla reutilizable para el ícono de validación -->
<ng-template #iconoValidacion let-control="control">
  @if (control?.valid && control?.value) {
    <span class="mt-1">
      <img [src]="iconAsset.obtenerRutaIcono('check-circle')" alt="guardado" class="h-2rem">
    </span>
  }
</ng-template>

@if (!tieneActoTramiteCasoDocumento) {
  <mensaje-interoperabilidad-pj/>
}

@if (tieneActoTramiteCasoDocumento) {
  @if (!tramiteEstadoRecibido) {
    <mensaje-completar-informacion
      [titulo]="tramiteSeleccionado!.nombreTramite"
    />
  }

  <form [formGroup]="formularioAutoResuelve">
    <!-- Fila 1 -->
    <div class="formgrid grid mt-3">
      <!-- Fecha de notificación -->
      <div class="field col-12 md:col-6 lg:col-4">
        <label for="fechaNotificacion" class="font-bold text-sm">Fecha de notificación</label>
        <div class="p-inputgroup">
          <p-calendar
            id="fechaNotificacion"
            [dateFormat]="'dd/mm/yy'"
            class="p-inputtext-lg cfe-calendar"
            [style]="{'height':'40px'}"
            [showIcon]="true"
            dateMask
            icon="cfe-calendar-icon"
            placeholder="dd/mm/aaaa"
            formControlName="fechaNotificacion"
            appendTo="body"
            dataType="string"
            [ngClass]="{'ng-invalid ng-dirty': formularioAutoResuelve.get('fechaNotificacion')?.invalid && formularioAutoResuelve.get('fechaNotificacion')?.touched}"
          >
          </p-calendar>
          <!-- Se utiliza la plantilla reutilizable -->
          <ng-container *ngTemplateOutlet="iconoValidacion; context: { control: formularioAutoResuelve.get('fechaNotificacion') }"></ng-container>
        </div>
      </div>

      <!-- Seleccione resultado -->
      <div class="field col-12 md:col-6 lg:col-4">
        <label for="resultado" class="font-bold text-sm">Resultado:</label>
        <div id="resultado" class="p-inputgroup">
          <button class="cfe-boton-primary cfe-boton-lg w-full" (click)="openModalSujetos(1)">
            Seleccionar resultado
          </button>
          @if ( flCheckModal || esSoloLectura ) {
            <!-- Este bloque es diferente y se mantiene -->
            <span class="mt-1">
              <img [src]="iconAsset.obtenerRutaIcono('check-circle')" alt="guardado" class="h-2rem">
            </span>
          }
        </div>
      </div>
    </div>

    <!-- Fila 2 -->
    <div class="formgrid grid">
      <!-- Número de expediente -->
      <div class="field col-12 md:col-6">
        <label for="nroExpediente" class="font-bold text-sm">Número de expediente</label>
        <div class="p-inputgroup">
          <input
            id="nroExpediente"
            pInputText
            expedienteMask
            formControlName="nroExpediente"
            type="text"
            class="p-inputtext-lg w-full"
            autocomplete="off"
          />
          <!-- Se utiliza la plantilla reutilizable -->
          <ng-container *ngTemplateOutlet="iconoValidacion; context: { control: formularioAutoResuelve.get('nroExpediente') }"></ng-container>
        </div>
      </div>

      <!-- Fiscalía superior a elevar -->
      @if (flElevacionSuperior) {
        <div class="field col-12 md:col-6">
          <label for="fiscalia" class="font-bold text-sm">Fiscalía superior a elevar: <span class="text-danger">*</span></label>
          <div class="p-inputgroup">
            <p-dropdown id="fiscalia" formControlName="codFiscaliaSuperior" class="p-inputtext-lg w-full"
                        [options]="fiscalias" placeholder="Seleccione" optionLabel="nombre" optionValue="id">
            </p-dropdown>
            <!-- Se utiliza la plantilla reutilizable -->
            <ng-container *ngTemplateOutlet="iconoValidacion; context: { control: formularioAutoResuelve.get('codFiscaliaSuperior') }"></ng-container>
          </div>
        </div>
      }
    </div>

    <!-- Fila 3: Observaciones -->
    <div class="formgrid grid">
      <div class="field col-12">
        <label for="observaciones" class="font-bold text-sm">Observaciones (opcional)</label>
        <div class="p-inputgroup align-items-start">
          <textarea id="observaciones" pInputTextarea class="w-full text-md" rows="6" formControlName="observaciones"
                    [maxLength]="longitudMaximaObservaciones"></textarea>
          <!-- Se utiliza la plantilla reutilizable, ajustando la condición para que funcione con un campo opcional -->
          <ng-container *ngTemplateOutlet="iconoValidacion; context: { control: formularioAutoResuelve.get('observaciones') }"></ng-container>
        </div>
        <small
          class="block text-right mt-1"
          [ngClass]="{'p-error': cantidadCaracteresObservacion > longitudMaximaObservaciones }">
          {{ cantidadCaracteresObservacion }}/{{ longitudMaximaObservaciones }} máximo de caracteres
        </small>
      </div>
    </div>

    <!-- Fila 4: Acciones -->
    <div class="flex flex-column sm:flex-row justify-content-between align-items-center mt-3">
      @if (!tramiteEstadoRecibido) {
        <a class="cfe-enlace tour-f-5 mb-2 sm:mb-0" (click)="modalActualizarActoYTramite()">
          ¿Este documento no pertenece a este trámite?
        </a>
      } @else {
        <span></span>
      }

      @if (esPosibleEditarFormulario && !tramiteGuardado) {
        <p-button
          [disabled]="!formularioValido"
          (onClick)="confirmarRegistroTramite()"
          styleClass="p-button-lg cfe-boton-primary text-white family-poppin-bold btn-adjust-filter w-full sm:w-auto tour-f-6">
          <span class="ml-4 mr-4">Guardar</span>
        </p-button>
      }

      @if (tramiteGuardado && flElevacionSuperior && !esPestanaElevada) {
        <button
          class="cfe-boton-danger cfe-boton-lg align-items-center text-sm ml-2"
          type="button"
          (click)="eventoElevarIncidenteAFiscalSuperior()">
          Elevar incidente a F.Superior
        </button>
      }
    </div>
  </form>
}
