.container {
  background-image: url(./../../../../assets/images/bg-mpfn_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #0f2c52;
}
