:host ::ng-deep .table-apelaciones {
    .p-datatable-thead {
        background: var(--mpfn-jade-background) !important;
        font-weight: bold;
        font-size: 14px !important;
    }

    .p-datatable-tbody {
        tr {
            background-color: var(--mpfn-white);
            margin-bottom: 20px !important;
            font-size: 14px !important;
        }
    }
}

.bg-mode-edicion {
    background-color: #FDFBA4 !important;
}
