<div class="tarjeta-contenedor-principal">
  <div class="tarjeta-cabecera-contenedor" (click)="eventoVerDetalleCaso(casofiscal())">
    <div class="tarjeta-cabecera" [ngClass]="getTarjetaTituloEstilo()">
      <div class="tarjeta-titulo">
        @if (casofiscal().numeroCaso) {
          <span  (copy)="copiarAlPortapapeles(casofiscal().numeroCaso!)"   [innerHTML]="obtenerCasoHtml(casofiscal().numeroCaso!.trim())"></span>
        }
        @if (casofiscal().flgLectura === '1') {
          <img src="assets/icons/eyesIcon.svg" alt="Solo lectura" class="ml-2 mt-1" style="filter: brightness(0) invert(1)"/>
        }
      </div>
    </div>
  </div>

<div class="card-body-z" (click)="eventoVerDetalleCaso(casofiscal())" [ngClass]="{'leido': (casofiscal().flgCasoLeido === '1' || casoLeidoTemporal || (casofiscal().flgCasoLeido==='1' && casofiscal().etapa !='01'))}">
  <div class="flex justify-content-between flex-wrap">
    <div class="flex align-items-center justify-content-center">
      <span>Etapas: <strong class="capitalize">{{casofiscal().etapa!.toLowerCase()}}</strong></span>
    </div>
    <div>
      <div class="flex align-items-center justify-content-end px-2 cursor-pointer text-500 transition-all transition-duration-200 hover:text-color"
           (click)="eventoMostrarOpcionesCaso($event, opcionesCasoRef)">
        <i class="pi pi-ellipsis-v font-bold text-lg"></i>
      </div>
    </div>
  </div>
@if (casofiscal().fiscal) {
  <div class="pt-3">
    <div>
        Fiscal:
      <div>
        <strong class="capitalize">{{casofiscal().fiscal!.toLowerCase()}}</strong>
      </div>
    </div>
  </div>
}
@if (casofiscal().fiscalia) {
  <div class="pt-3">
    <div>
        Fiscalía:
      <div>
        <strong class="capitalize">{{casofiscal().fiscalia!.toLowerCase()}}</strong>
      </div>
    </div>
  </div>
}

    <div class="pt-3">
      Último trámite:
      <div>
        <strong class="capitalize">{{casofiscal().ultimoTramite?.toLowerCase() || "-"}}</strong>
      </div>
    </div>

  <div class="pt-3">
    Delitos:
    <div class="flex gap-2">
      @if (casofiscal().delitos) {
        <b>{{ verDelitoInicio(casofiscal().delitos!) }}</b>
        <span (click)="eventoVerDelitos($event, casofiscal())" class="cursor-pointer link">Ver más</span>
      }
    </div>
  </div>

    <div class="pt-3">
      <div class="flex justify-content-between flex-wrap">
        <div class="align-items-center">
          F. de registro denuncia
          <div><b>{{ casofiscal().fechaIngresoDenuncia }}</b></div>
          <b>{{ casofiscal().horaDenuncia?casofiscal().horaDenuncia:"" | dateformat : "hour24" }}</b>
        </div>
        <div class="align-items-center">
          F. de ingreso despacho
          <div><b>{{ casofiscal().fechaIngreso }}</b></div>
          <b>{{ casofiscal().horaIDespacho?casofiscal().horaIDespacho:"" | dateformat : "hour24" }}</b>
        </div>
        <div class="align-items-center">
          F. de Asignación
          <div><b>{{ casofiscal().fechaAsignacion?casofiscal().fechaAsignacion:""  | dateformat }}</b></div>
         <b>{{ casofiscal().horaAsignacion? casofiscal().horaAsignacion:"" | dateformat : "hour24" }}</b>
        </div>
        <div class="align-items-center">
          F. de último trámite
          @if(casofiscal().fechaUltimoTramite){
            <div><b>{{ casofiscal().fechaUltimoTramite }}</b></div>
            <b>{{ casofiscal().horaUTramite?casofiscal().horaUTramite:"" | dateformat : "hour24" }}</b>
          }
          @else { <div><b>-</b></div> }
        </div>

      </div>
    </div>


      <app-barra-progreso-caso

        [plazos]="casofiscal().plazos!"
      >
      </app-barra-progreso-caso>


    <app-etiqueta-acciones-caso [casoFiscal]="casofiscal()"></app-etiqueta-acciones-caso>

 
      @if (casofiscal().flgAcuerdoReparatorio === '1' ||casofiscal().flgPrincipioOportunidad === '1') {
        <div class="cfe-etiqueta-accion flex align-items-center justify-content-between w-full pt-2">
          <p [ngClass]="obtenerColorBadgePrincipioAcuerdo()">
          {{ casofiscal().flgAcuerdoReparatorio === "1"? "Con acuerdo reparatorio": "Con principio de oportunidad"}}
          </p>
        </div>
      }

    <app-pendientes-caso (clickPendientes)="registarCasoLeido(casofiscal().idCaso!, casofiscal().flgCasoLeido!)" [metaInfo]="casofiscal().pendientes!"></app-pendientes-caso>

    <app-nota-adhesiva (clickPendientes)="registarCasoLeido(casofiscal().idCaso!, casofiscal().flgCasoLeido!)"  [caso]="casofiscal()"></app-nota-adhesiva>

  </div>
</div>

<!-- Ini - Modal lista de delitos -->
<p-dialog
[showHeader]="false"
[(visible)]="mostrarDelitos"
[modal]="true"
[style]="{ 'min-width': '30vw', 'max-width': '1200px' }"
[draggable]="true"
[resizable]="false"
>
  <div class="m-0 p-0">

    <div class="flex w-full justify-content-between">
      <h3 class="cfe-subtitulo-3">Delitos</h3>
      <p-button type="button" icon="pi pi-times text-xl" (click)="eventoCerrarDelitos($event)" label="" tabindex="-1" styleClass="border-none text-gray-900 bg-white"></p-button>
    </div>

    <span>
      <strong class="cfe-semi-bold">Caso: </strong>
      @if (casofiscal().numeroCaso) {
        <strong [innerHTML]="obtenerCasoHtml(casofiscal().numeroCaso!)"></strong>
      }
    </span>

    <div>
      <p-table class="cfe-bold" [value]="casofiscal().delitos!">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Delito</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-delitos let-i="rowIndex">
          <tr class="cfe-semi-bold">
            <td style="padding-right: 5px; width: 30px">{{ i + 1 }}</td>
            <td>{{ delitos.nombre }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>
</p-dialog>
<!-- Fin - Modal lista de delitos -->

<!-- Ini - Opciones del Caso -->
<p-menu #opcionesCasoRef [model]="opcionesCaso" appendTo="body" [popup]="true"></p-menu>
<!-- Fin - Opciones del Caso -->
