<h2 class="mb-4">
  Primera fiscalia Corporativa Penal De Cercado de Lima-Rimac-Jesus Maria
</h2>

<div class="grid">
  <div class="col-3">
    <p-card [style]="{ 'min-width': '200px' }">
      <div class="indicator error flex align-items-center gap-4">
        <div class="indicator__circle"></div>
        <div>
          <p class="text-500 mb-1 font-bold">Plazo vencido</p>
          <div class="text-900 text-3xl font-medium">7%</div>
        </div>
      </div>
      <div class="mt-2">
        <span class="font-bold">15</span> del rango consultado
      </div>
    </p-card>
  </div>

  <div class="col-3">
    <p-card [style]="{ 'min-width': '200px' }">
      <div class="indicator warning flex align-items-center gap-4">
        <div class="indicator__circle"></div>
        <div>
          <p class="text-500 mb-1 font-bold">Plazo por vencer</p>
          <div class="text-900 text-3xl font-medium">7%</div>
        </div>
      </div>
      <div class="mt-2">
        <span class="font-bold">15</span> del rango consultado
      </div>
    </p-card>
  </div>

  <div class="col-3">
    <p-card [style]="{ 'min-width': '200px' }">
      <div class="indicator success flex align-items-center gap-4">
        <div class="indicator__circle"></div>
        <div>
          <p class="text-500 mb-1 font-bold">Dentro del plazo</p>
          <div class="text-900 text-3xl font-medium">7%</div>
        </div>
      </div>
      <div class="mt-2">
        <span class="font-bold">15</span> del rango consultado
      </div>
    </p-card>
  </div>

  <div class="col-3">
    <p-card [style]="{ 'min-width': '200px' }">
    </p-card>
  </div>
</div>
