<app-consentido-formulario-base
  [formulario]="formulario"
  [tramiteSeleccionado]="tramiteSeleccionado"
  [tieneActoTramiteCasoDocumento]="tieneActoTramiteCasoDocumento"
  [tramiteEstadoRecibido]="tramiteEstadoRecibido"
  [flCheckModal]="flCheckModal"
  [esPosibleEditarFormulario]="esPosibleEditarFormulario"
  [tramiteGuardado]="tramiteGuardado"
  [formularioValido]="formularioValido"
  [longitudMaximaObservaciones]="longitudMaximaObservaciones"
  [cantidadCaracteresObservacion]="cantidadCaracteresObservacion"
  [iconAsset]="iconAsset"
  [labelConsentido]="'Consentido'"
  [labelBtnConsentido]="'Seleccionar consentido'"
  (openModalSujetos)="openModalSujetos()"
  (modalActualizarActoYTramite)="modalActualizarActoYTramite()"
  (confirmarRegistroTramite)="confirmarRegistroTramite()"
></app-consentido-formulario-base>