<div class="cfe-container">

  <!-- Ini - Título  -->
  <div class="grid py-3">
    <div class="col-12 md:col-8">
      <div class="flex align-items-start">
        <fn-icon [ico]="iconUtil.obtenerIcono('iFolderSearch')" height="1.6rem"></fn-icon>
        <h3 class="cfe-titulo-1 pl-2">Asignación de casos elevados</h3>
        <fn-icon
          [ico]="iconUtil.obtenerIcono('iTooltip')"
          height="1.6rem"
          (click)="startTour()"
        ></fn-icon>
      </div>
    </div>
    <div class="col-12 md:col-4 flex justify-content-end">
      <button
        class="cfe-boton-secondary cfe-boton-sm w-full sm:w-auto family-poppin-bold justify-content-end"
        routerLink="asignados">
        Ver casos asignados
        <fn-icon [ico]="iconUtil.obtenerIcono('iChevronRight')" height="1.5rem"></fn-icon>
      </button>
    </div>
  </div>
  <!-- Fin - Título  -->

  <app-asignar [casosSelecionados]="casosSeleccionados()" (respuestaAsignar)="eventoReiniciar()"></app-asignar>
  <app-filtro #filtroRef (buscar)="eventoBuscar($event)" (buscarPorTexto)="eventoBuscarPorTexto($event)"></app-filtro>


  <div class="mt-5 container-view-list  py-3">
    <div class="px-3" >

      <div class="grid py-1">

        <div class="col-12 md:col-8">
          <div class="flex align-items-center">
            <img [src]="iconAsset.obtenerRutaIcono('exclamationFolder')" alt="Folder Icon" style="width: 22px" />
            <h4 class="casos_listados_count mt-2 mb-0 font-bold">
              {{ totalRegistros.total }} registros listados - {{ totalRegistros.casos }} casos - {{ totalRegistros.pestanasApelacionPorAsignar }} pestañas de apelación por asignar
            </h4>
          </div>
        </div>

        <!--Ini - Botones de Exportación -->
        <div class="col-12 md:col-4">
            <div class="flex flex-wrap gap-2 justify-content-end">
              <button class="cfe-boton-secondary cfe-boton-m w-full sm:w-auto justify-content-start" 
              [disabled]="listaCasos.length === 0"
              (click)="eventoExportar(TipoExportarEnum.Pdf)">
                <img [src]="iconAsset.obtenerRutaIcono('pdf')" alt="PDF Icon" class="mr-1"/>
                Exportar PDF
              </button>
              <button class="cfe-boton-secondary cfe-boton-m w-full sm:w-auto justify-content-start" 
                [disabled]="listaCasos.length === 0"
              (click)="eventoExportar(TipoExportarEnum.Excel)">
                <img [src]="iconAsset.obtenerRutaIcono('excel')" alt="Excel Icon" class="mr-1"/>
                Exportar Excel
              </button>
            </div>
        </div>
        <!--Fin - Botones de Exportación -->

      </div>


      <!-- Ini - Leyenda  gap-2  px-2 border-round -->
      <div class="flex flex-wrap py-2 mb-1 ">
     <app-leyenda-listas
        [leyenda]="leyenda"
       >  </app-leyenda-listas>
      </div>
      <!-- Fin - Leyenda -->

    </div>
    <!-- Ini - Tabla de Casos -->
    <app-tabla #tableCasosRef
      [listaCasos]="listaCasos"
      [esCriterioBusquedaValido]="esCriterioBusquedaValido"
      [paginacionCondicion]="paginacionCondicion"
      [paginacionConfiguracion]="paginacionConfiguracion"
      (cambiarPagina)="eventoCambiarPagina($event)"
      (respuestaRevertirAceptacion)="eventoReiniciar()"
    >
    </app-tabla>
    <!-- Fin - Tabla de Casos -->

  </div>


</div>
