.border-red {
  border-color: var(--mpfn-red) !important;
}
.btn-link{
  text-decoration: underline;
  cursor: pointer;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

.custom-button-container ::ng-deep .p-button {
  width: 70% !important;
}

