<div>

  <mensaje-completar-informacion 
        [titulo] = "tramiteSeleccionado?tramiteSeleccionado.nombreTramite:''"
  />

  <div class="col">
    <label for="button" class="font-semibold">&nbsp;</label>
    <div class="custom-button-container">
      <p-button styleClass="p-button-lg cfe-boton-primary w-70" label="Acuerdos del auto"
        (click)="cargarModalAcuerdosDelAuto()"></p-button>
      <div *ngIf="acuerdosDelAutoCargado">
      </div>
    </div>
  </div>
  <div>
    <form [formGroup]="formularioResolucionAutoConsentido">
      <div class="col">
        <div class="field">
          <label for="Fecha de notificacion" class="font-semibold">
            Fecha de notificación
          </label>
          <div class="grid mb-1">
            <div class="col-4">
              <p-calendar dateMask dateFormat="dd/mm/yyyyy" class="p-inputtext-lg cfe-calendar h-56" [showIcon]="true"
                icon="cfe-calendar-icon" placeholder="DD/MM/AAAA" formControlName="fechaNotificacion"
                [ngClass]="{ 'border-red': esCampoInvalido('fechaNotificacion') }"
                (onBlur)="marcarFechaComoDirty()"></p-calendar>
            </div>
          </div>
          <div class="grid">
            <div class="col">
              <label for="observaciones" class="font-semibold mb-1">Observaciones</label>
              <textarea rows="5" cols="25" pInputTextarea formControlName="observaciones"
                class="p-inputtext-lg py-3 text-lg w-full" placeholder="Escriba la observación" maxlength="1000"
                [ngClass]="{ 'border-red': esCampoInvalido('observaciones') }"
                (input)="actualizarContadorInputTextArea($event); formularioResolucionAutoConsentido.controls['observaciones']!.markAsDirty()"></textarea>
            </div>
          </div>
          <div class="grid">
            <div class="col-12 text-right">
              <p>Quedan {{caracteresRestantes}} caracteres</p>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="flex justify-content-between" *ngIf="(estadoPedienteCompletar || documentoIngresadoPorMPE) && !estadoRecibido">
      <a class="btn-link" (click)="openModalSelectTramite()" [ngClass]="{'disabled': enlaceModalDeshabilitado}">¿Este documento no pertenece a este trámite?</a>
      <p-button #botonGuardar label="Guardar" (onClick)="guardarResolucion()" [disabled]="false"
        [styleClass]=" true ? 'p-button-lg cfe-boton-primary text-white font-semibold btn-adjust' : 'p-button-lg cfe-boton-secondary text-primary font-bold btn-adjust'">
      </p-button>
    </div>
  </div>
</div>
