::ng-deep.p-tabview .p-tabview-panels {
  background-color: transparent !important;
  padding: 0 !important;
}

::ng-deep.p-tabview .p-tabview-nav {
  background-color: #ffffff;
}

.cfe-container .cfe_bandeja__table {
  background-color: transparent !important;
}
