<div class="cfe-container">
  <div class="cfe_bandeja__header grid">
    <div class="col-12 md:col-9 cfe_bandeja_header__content">
      <fn-icon
        [ico]="iconUtil.obtenerIcono('iFolderSearch')"
        height="1.6rem"
      ></fn-icon>
      <span class="cfe-titulo-1 family-poppin-bold">Asignación de casos</span>
      <fn-icon
        [ico]="iconUtil.obtenerIcono('iTooltip')"
        height="1.6rem"
      ></fn-icon>
    </div>
    <div
      class="col-12 md:col-3 flex flex-column sm:flex-row justify-content-end align-items-center pr-0"
    >
      <button
        class="cfe-boton-secondary cfe-boton-sm w-full sm:w-auto mb-2 sm:mb-0 justify-content-start family-poppin-bold"
        routerLink="../listar-casos-anulados"
      >
        <span class="ml-1">Ver casos anulados</span>
        <fn-icon
          [ico]="iconUtil.obtenerIcono('iChevronRight')"
          height="1.5rem"
        ></fn-icon>
      </button>
    </div>
  </div>

  <form class="cfe_bandeja__filters" [formGroup]="formularioFiltrarCasos">
    <div class="grid row-magin-top">
      <div class="col">
        <div class="field mb-0">
          <label for="fiscal" class="font-semibold"
            >Fiscal a quién se le asignará el caso</label
          >
          <p-dropdown
            [options]="fiscalesPorAsignar"
            optionLabel="nombreCompleto"
            optionValue="idFiscal"
            [showClear]="true"
            placeholder="Seleccione uno de los fiscales"
            styleClass="py-1 p-inputtext-lg"
            [formControl]="fiscalPorAsignar"
          >
            <ng-template let-fiscal pTemplate="item">
              <div class="grid">
                <div class="col text-base">{{ fiscal.nombreCompleto }}</div>
                <div class="col font-bold text-right text-base">
                  {{ fiscal.casosAsignados }} casos asignados
                </div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-fixed">
        <div class="field mb-0">
          <label for="button" class="font-semibold">&nbsp;</label>
          <button
            class="cfe-boton-primary cfe-boton-lg w-full family-poppin-bold"
            (click)="confirmarAsignacionCaso()"
            [disabled]="cargoFiscal!='00000008'"
          >
            Asignar
          </button>
        </div>
      </div>
    </div>

    <div class="grid mt-1">
      <div class="col">
        <div class="field mb-0">
          <label for="buscar" class="font-semibold">Buscar</label>
          <input
            pInputText
            type="text"
            class="p-inputtext-lg py-3 text-lg w-full"
            (keyup)="filtrarCasos()"
            placeholder="Ingrese algún texto para buscar cualquier información que se muestre en la lista"
            formControlName="buscar"
          />
        </div>
      </div>
      <div
        class="col-fixed"
        [ngClass]="{ 'cfe-filtro-boton-fondo': mostrarFiltros }"
      >
        <div class="field mb-0">
          <label for="button" class="font-semibold">&nbsp;</label>
          <button
            class="cfe-filtro-boton"
            (click)="eventoMostrarOcultarFiltros()"
          >
            <fn-icon
              [ico]="iconUtil.obtenerIcono('iFilterShow')"
              height="2.1rem"
            ></fn-icon>
          </button>
        </div>
      </div>
    </div>

    @if (!mostrarFiltros) {
    <div class="grid mt-3 mb-4">
      <div class="col">
        <div class="flex flex-wrap gap-3">
          <div class="flex align-items-center">
            <p-radioButton
              value="ultimoSeisMeses"
              formControlName="tiempoAFiltrar"
              (onClick)="prepararDataBusquedaPorAsignar()"
              inputId="ultimoSeisMeses"
            ></p-radioButton>
            <label for="ultimoSeisMeses" class="ml-2">Últimos 6 meses</label>
          </div>
          <div class="flex align-items-center">
            <p-radioButton
              value="todosLosMeses"
              formControlName="tiempoAFiltrar"
              (onClick)="prepararDataBusquedaPorAsignar()"
              inputId="todosLosMeses"
            ></p-radioButton>
            <label for="todosLosMeses" class="ml-2">Todos los meses</label>
          </div>
        </div>
      </div>
    </div>
    } @if (mostrarFiltros) {
    <div class="grid mt-1 cfe-filtros">
      <div class="cfe-filtros-fondo px-4 flex-column">
        <div class="formgrid grid">
          <div class="col-12 md:col-6 field">
            <label
              class="font-semibold mb-2"
              for="Fecha de asignacion"
              class="font-semibold"
            >
              Fecha de ingreso al despacho
            </label>
            <div class="grid">
              <div class="col-12 sm:col-6">
                <p-calendar
                  dateMask
                  dateFormat="dd/mm/yy"
                  class="p-inputtext-lg cfe-calendar h-56 mt-1"
                  [showIcon]="true"
                  icon="cfe-calendar-icon"
                  placeholder="dd/mm/aaaa"
                  formControlName="fechaDesde"
                  (onSelect)="validarFechas('fechaDesde')"
                ></p-calendar>
              </div>
              <div class="col-12 sm:col-6 sm:mt-0 mt-3">
                <p-calendar
                  dateMask
                  dateFormat="dd/mm/yy"
                  class="p-inputtext-lg cfe-calendar h-56 mt-1"
                  [showIcon]="true"
                  icon="cfe-calendar-icon"
                  placeholder="dd/mm/aaaa"
                  formControlName="fechaHasta"
                  (onSelect)="validarFechas('fechaHasta')"
                ></p-calendar>
              </div>
            </div>
          </div>
          <div class="col-12 md:col-3 field">
            <label for="plazo" class="font-semibold mb-0">Plazos</label>
            <p-dropdown
              styleClass="p-inputtext-lg py-1 mt-1"
              [options]="plazos"
              optionValue="id"
              optionLabel="nombre"
              placeholder="Todos"
              [showClear]="true"
              formControlName="plazo"
            ></p-dropdown>
          </div>
          <div class="col-12 md:col-3 field">
            <label for="origen" class="font-semibold mb-0">Origen</label>
            <p-dropdown
              styleClass="p-inputtext-lg py-1 mt-1"
              [options]="origen"
              optionValue="id"
              optionLabel="nombre"
              placeholder="Todos"
              emptyMessage="Sin resultados"
              [showClear]="true"
              formControlName="origen"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="cfe-filtros-fondo cfe-filtros-opciones px-4">
        <button
          class="cfe-boton-secondary cfe-boton-lg family-poppin-bold mr-3"
          (click)="limpiarFiltros()"
        >
          Limpiar filtros
        </button>
        <button
          class="cfe-boton-primary cfe-boton-lg family-poppin-bold"
          (click)="obtenerCasosPorAsignar()"
        >
          Buscar
        </button>
      </div>
    </div>
    }
  </form>

  <div class="cfe_bandeja__table">
    <div class="cfe_bandeja_table__title grid">
      <div class="num_casos_por_asignar_table_title__content col-12 md:col-6">
        <div class="flex text-xl font-bold text-primary mb-3">
          <fn-icon
            class="mr-2"
            [ico]="iconUtil.obtenerIcono('iFolderExclamation')"
            height="1.8rem"
            [style]="{ 'margin-left': '-12px' }"
          ></fn-icon>
          {{ totalCasosAsignar }} Casos por asignar
        </div>
      </div>
      <div
        class="col-12 md:col-6 flex flex-column sm:flex-row justify-content-end align-items-center pr-0"
      >
        <button
          class="cfe-boton-secondary cfe-boton-m cfe-boton-m w-full sm:w-auto mr-0 sm:mr-3 mb-2 sm:mb-0 justify-content-start family-poppin-bold"
          (click)="exportarPdfExcel('PDF')"
        >
          <fn-icon
            class="mr-2"
            [ico]="iconUtil.obtenerIcono('iFileDownload')"
            height="1.6rem"
          ></fn-icon>
          Exportar PDF
        </button>
        <button
          class="cfe-boton-secondary cfe-boton-m cfe-boton-m w-full sm:w-auto mr-0 sm:mr-3 mb-2 sm:mb-0 justify-content-start family-poppin-bold"
          (click)="exportarPdfExcel('Excel')"
        >
          <fn-icon
            class="mr-2"
            [ico]="iconUtil.obtenerIcono('iTable')"
            height="1.6rem"
          ></fn-icon>
          Exportar Excel
        </button>
      </div>
    </div>
    <div class="cfe_bandeja__legend">
      @for(item of leyenda; track $index){
      <div class="term-item">
        <span
          class="{{ stringUtil.obtenerPlazo(($index + 1).toString()) }}"
        ></span>
        {{ item.nombrePlazo }}
        <div class="quantity">({{ item.cantidad }})</div>
      </div>
      }
      <div class="term-item">
        <div class="tooltipNew" [ngClass]="{ visible: tooltipVisible }" >
          <fn-icon [ico]="iconUtil.obtenerIcono('iInfoCircle')" height="1.3rem"  (click)="showTooltip()"></fn-icon>
          <div class="top">
            <app-encabezado-tooltip [titulo]="tituloTootip" [alCerrarModal]="toggleTooltip"
              [referenciaModal]="referenciaModal" />
            <ul>
              <li>
                <b>"Verde":</b> cuando las horas transcurridas sean "igual o
                mayor a 0"
              </li>
              <li>
                <b>"Amarillo":</b> cuando las horas transcurridas está al "75%
                (en adelante)" del plazo de 24 horas.
              </li>
              <li>
                <b>"Rojo":</b> cuando las horas transcurridas está en "24 horas
                (en adelante)".
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cfe_bandeja_table__content">
      <p-table
        [value]="casosPorAsignarFiltrados"
        [rowHover]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        [styleClass]="'p-datatable-sm'"
        responsiveLayout="stack"
        [(selection)]="casosSeleccionados"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="w-col-20">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="numeroCaso">
              Número de caso
              <p-sortIcon field="numeroCaso"></p-sortIcon>
            </th>
            <th pSortableColumn="origen">
              Origen
              <p-sortIcon field="origen"></p-sortIcon>
            </th>
            <th pSortableColumn="remitente">
              Remitente
              <p-sortIcon field="remitente"></p-sortIcon>
            </th>
            <th pSortableColumn="contacto">
              Contacto de remitente
              <p-sortIcon field="contacto"></p-sortIcon>
            </th>
            <th class="col-width-172" pSortableColumn="fechaIngreso">
              Fecha de ingreso al despacho
              <p-sortIcon field="fechaIngreso"></p-sortIcon>
            </th>
            <th class="col-width-172" pSortableColumn="fechaIngreso">
              Fecha de registro de denuncia
              <p-sortIcon field="fechaIngreso"></p-sortIcon>
            </th>
            <th class="col-width-172" pSortableColumn="delitos">
              Delitos y partes
              <p-sortIcon field="delitos"></p-sortIcon>
            </th>
            <th class="w-col-10">Comentarios</th>
            <th class="w-col-10"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-caso>
          <tr
            class="p-selectable-row"
            [ngClass]="{
              'cfe-fondo-gris-leido': caso.leido === LECTURA_CASO.LEIDO || casoLeidoTemporal
            }"
          >
            <td class="table_td_content_start">
              <div class="col-offset-3">
                <p-tableCheckbox [value]="caso"></p-tableCheckbox>
              </div>
            </td>
            <td class="table_td_content_start caso-container">
              <span class="p-column-title">Número de caso</span>
              <div class="plazo-item-row">
                <div>
                  <span (copy)="copiarAlPortapapeles(caso.numeroCaso)" [innerHTML]="obtenerNumeroCaso(caso.numeroCaso, caso.semaforoNro)"></span>
                </div>
                <div>
                  <p>
                    Tiempo que ha transcurrido y que <br />aún no se ha
                    asignado<br />
                    <span>
                      <i class="pi pi-clock" style="margin-right: 5px"></i>{{ caso.semaforoTiempo }}
                    </span>
                  </p>
                </div>
              </div>
            </td>
            <td class="table_td_content_start">
              <span class="p-column-title">Origen</span>
              <span class="badge badge-{{ obtenerClaseTipoOrigen(caso.origen) }}" style="font-weight: bold">{{
                caso.origen }}</span>
            </td>
            <td class="table_td_content_start remitente-container">
              <span class="p-column-title">Remitente</span>
              <div>
                <div class="mb-1">
                  <span class="badge badge-origen">{{
                    caso.tipoRemitente
                  }}</span>
                </div>
                <div class="cfe-row-top">{{ caso.remitente }}</div>
              </div>
            </td>
            <td class="table_td_content_start">
              <span class="p-column-title">Contacto de remitente</span>
              <div>
                <div class="contact-item">
                  <span>Teléfono:</span>{{ caso.telefono }}
                </div>
                <div class="contact-item mt-17">
                  <span>Correo:</span>{{ caso.correo }}
                </div>
              </div>
            </td>
            <td class="table_td_content_start fecha-container">
              <span class="p-column-title">Fecha de ingreso al despacho</span>
              <div>
                <div>{{ caso.fechaIngreso | dateformat }}</div>
                <div class="cfe-row-top">
                  {{ caso.horaIngreso | dateformat : "hour24" }}
                </div>
              </div>
            </td>
            <td class="table_td_content_start fecha-container">
              <span class="p-column-title">Fecha de registro de denuncia</span>
              <div>
                <div>{{ caso.fechaDenuncia | dateformat }}</div>
                <div class="cfe-row-top">
                  {{ caso.horaDenuncia | dateformat : "hour24" }}
                </div>
              </div>
            </td>
            <td class="table_td_content_start">
              <span class="p-column-title">Delitos y partes</span>
              <div
                class="cfe-btn-crimes-parts family-poppin-bold"
                (click)="verDelitosPartes(caso.numeroCaso, caso.id, caso.leido)"
              >
                <strong
                  >Ver delitos y partes ({{ caso.cantidadPartes }})</strong
                >
              </div>
            </td>
            <td class="table_td_content_start">
              <span class="p-column-title">Clasificación</span>
              <div
                class="cfe-btn-clasification"
                (click)="
                  clasificacionCaso(
                    caso.numeroCaso,
                    caso.id,
                    caso.leido,
                    caso.clasificacion
                  )
                "
              >
                <img
                  [src]="iconAsset.obtenerRutaIcono('clasification')"
                  alt="Clasification Icon"
                />
              </div>
            </td>
            <td class="table_td_content_start">
              <span class="p-column-title">Opciones</span>
              <div>
                <div
                  class="cfe-btn-more-options"
                  (click)="menu2.toggle($event)"
                >
                  <div class="cfe-btn-more-options-content">
                    <span></span><span></span><span></span>
                  </div>
                </div>
                <p-menu
                  #menu2
                  (onShow)="obtenerOpcionesMenu(caso)"
                  [model]="opcionesMenu"
                  [popup]="true"
                  class="cfe-menu-options"
                ></p-menu>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" style="text-align: center">
              {{ emptyMessage }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-paginator
        [query]="query"
        [items]="itemPaginado"
        [rowsPerPageOptions]="[]"
        [resetPage]="resetPage"
        (paginate)="onPaginate($event)"
      ></app-paginator>
    </div>
  </div>
</div>

<p-toast></p-toast>
