// Vacío intencional

.acciones {
    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;

    .accion {
        display: flex;
        align-items: center;
        gap: 0.5rem;

    }
}

// .botones-grid{
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   flex-wrap: nowrap;
//   gap: 1rem;
//   padding: 0.5rem;
//   margin-top: 1em;

//   .label {
//     font-weight: 500;
//     margin-right: 2rem;
//     white-space: nowrap;
//   }

//   .acciones {
//     display: flex;
//     gap: 1.5rem;
//     flex-wrap: nowrap;

//     .accion {
//       display: flex;
//       align-items: center;
//       gap: 0.5rem;

//     }
//   }
// }