<div class="pl-1 md:pl-1 grid mb-0 md:mb-3">
  <div class="col-12 md:col-6 flex align-items-center">
    <fn-icon
      [ico]="iconUtil.obtenerIcono('iFolderExclamation')"
      height="1.8rem"
    ></fn-icon>
    <span class="family-poppin-bold">
      Trámites que he enviado para visar ({{ totalRegistros }})
    </span>
  </div>
  <div
    class="col-12 md:col-6 flex flex-column sm:flex-row justify-content-end align-items-center pr-0"
  >
    <button
      class="cfe-boton-secondary cfe-boton-m cfe-boton-icono-izquierda font-normal w-full sm:w-auto mr-0 sm:mr-3 mb-2 sm:mb-0 flex justify-content-start"
      (click)="exportarPdfExcel('PDF')"
    >
      <fn-icon
        class="ml-1"
        [ico]="iconUtil.obtenerIcono('iFileDownload')"
        height="1.6rem"
      ></fn-icon>
      <span class="family-poppin-bold">Exportar PDF</span>
    </button>
    <button
      class="cfe-boton-secondary cfe-boton-m cfe-boton-icono-izquierda font-normal w-full sm:w-auto flex justify-content-start"
      (click)="exportarPdfExcel('Excel')"
    >
      <fn-icon
        class="ml-1"
        [ico]="iconUtil.obtenerIcono('iTable')"
        height="1.6rem"
      ></fn-icon>
      <span class="family-poppin-bold">Exportar Excel</span>
    </button>
  </div>
</div>

<div class="flex flex-wrap flex-column sm:flex-row px-0 mt-1 pb-4">
  @for (filtro of filtrosTramite; track $index) {
  <p-button
    [label]="filtro.descripcion"
    (onClick)="filtrar(filtro.codigo); filtrosTramiteSelec = filtro.codigo"
    styleClass="cfe-boton-outline cfe-boton-secondary p-button-rounded p-button-sm mt-2 mr-2 w-auto font-normal text-left {{
      filtro.codigo === filtrosTramiteSelec ? 'active' : ''
    }}"
  >
    @if (filtro.color!=='') {
    <i
      class="pi pi-circle-fill mr-2 opacity-60"
      [style.color]="filtro.color"
    ></i>
    }
  </p-button>
  }
</div>

<div class="w-full">
  <p-table
    [value]="bandejaTramites"
    [paginator]="false"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="{first} de {last} registros"
    [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
    [breakpoint]="'992px'"
    responsiveLayout="stack"
    [pageLinks]="3"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="" pSortableColumn="orden">
          N°
          <p-sortIcon field="orden"></p-sortIcon>
        </th>
        <th scope="" pSortableColumn="numeroCaso">
          Número de caso
          <p-sortIcon field="numeroCaso"></p-sortIcon>
        </th>
        <th scope="" pSortableColumn="noActoProcesal">
          Acto Procesal
          <p-sortIcon field="noActoProcesal"></p-sortIcon>
        </th>
        <th scope="" pSortableColumn="noTramite">
          Trámite
          <p-sortIcon field="noTramite"></p-sortIcon>
        </th>
        <th scope="" pSortableColumn="feCreacion">
          F. creación
          <p-sortIcon field="feCreacion"></p-sortIcon>
        </th>
        <th scope="" pSortableColumn="feEnvio">
          F. envío
          <p-sortIcon field="feEnvio"></p-sortIcon>
        </th>
        <th scope="" style="width: 200px">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tramite>
      <tr class="p-selectable-row">
        <td class="table_td_content_start">
          <span class="p-column-title">N°</span>
          <div>
            {{ tramite.orden }}
          </div>
        </td>
        <td class="table_td_content_start caso-container">
          <span class="p-column-title">Número de caso</span>
          <div>
            <div class="flex">
              @if (filtroColorTipoCuaderno(tramite); as color) { @if
              (color!=='') {
              <i
                class="pi pi-circle-fill mr-2 opacity-60"
                [style.color]="color"
              ></i>
              } }
              <div>
                <div
                  [innerHTML]="stringUtil.formatearCodigoCaso(tramite.coCaso)"
                  style="white-space: nowrap"
                ></div>
                <div class="font-bold pt-1">
                  {{ tramite.noEtapa | capitalizar }}
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="table_td_content_start">
          <span class="p-column-title">Acto Procesal</span>
          <div>
            {{ tramite.noActoProcesal | capitalizar }}
          </div>
        </td>
        <td class="table_td_content_start remitente-container">
          <span class="p-column-title">Trámite</span>
          <div>
            @if (tramite.documentoTramite!==null &&
            tramite.documentoTramite!=='') {
            <div class="font-bold mb-1">
              <strong>{{ tramite.documentoTramite | capitalizar }}</strong>
            </div>
            }
            <div>
              {{ tramite.noTramite | capitalizar}}
            </div>
          </div>
        </td>
        <td class="table_td_content_start fecha-container">
          <span class="p-column-title">F. creación</span>
          <div>
            {{ tramite.feCreacion | date : "dd MMM yyyy h:mm a" : "es" }}
          </div>
        </td>
        <td class="table_td_content_start fecha-container">
          <span class="p-column-title">F. envío</span>
          <div>
            {{ tramite.feEnvio | date : "dd MMM yyyy h:mm a" : "es" }}
          </div>
        </td>
        <td class="table_td_content_start">
          <span class="p-column-title">Acciones</span>

          <div class="grid gap-1 justify-content-end">
            @if(tramite.inVisadoCompleto !== 1){
            <div class="col-6 md:col-4 lg:col-3 btn-accion btn-accion--amarillo"
              (click)="verDetalleVisado(tramite)"
              pTooltip="Detalles de visado"
              tooltipEvent="hover"
              tooltipPosition="left"
            >
              <!-- Ícono SVG personalizado -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.6rem"
                height="1.6rem"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M10.29 3.86L1.82 18a1 1 0 0 0 .86 1.5h18.64a1 1 0 0 0 .86-1.5L13.71 3.86a1 1 0 0 0-1.72 0z" />
                <line x1="12" y1="9" x2="12" y2="13" />
                <line x1="12" y1="17" x2="12.01" y2="17" />
              </svg>
            </div>
            } @if(tramite.inVisadoCompleto === 1){
            <div
              class="col-6 md:col-4 lg:col-3 btn-accion btn-accion--verde"
              (click)="verDetalleVisado(tramite)"
              pTooltip="Detalles de visado"
              tooltipEvent="hover"
              onkeydown=""
              tooltipPosition="left"
            >
              <fn-icon
                [ico]="iconUtil.obtenerIcono('iCheck')"
                height="2rem"
              ></fn-icon>
            </div>
            }
            <div
              class="col-6 md:col-4 lg:col-3 btn-accion btn-accion--gris"
              pTooltip="Previsualizar trámite"
              tooltipEvent="hover"
              tooltipPosition="left"
              onkeydown=""
              (click)="previewTramite(tramite)"
            >
              <fn-icon
                [ico]="iconUtil.obtenerIcono('iEye')"
                height="1.6rem"
              ></fn-icon>
            </div>
            <div
              class="col-6 md:col-4 lg:col-3 btn-accion btn-accion--gris"
              (click)="verHistorialTramite(tramite)"
              pTooltip="Historial del trámite"
              tooltipEvent="hover"
              onkeydown=""
              tooltipPosition="left"
            >
              <fn-icon
                [ico]="iconUtil.obtenerIcono('iRestaurar')"
                height="1.6rem"
              ></fn-icon>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="text-align: center">
          ”En estos momentos, no hay trámites para visar.
        </td>
      </tr>
    </ng-template>
  </p-table>
  <app-paginator
    [query]="query"
    [items]="itemPaginado"
    (paginate)="onPaginate($event)"
    [resetPage]="resetPage"
  ></app-paginator>
</div>

<p-toast></p-toast>
