<div class="cfe-container cfe-container-background-crema">
  <h4 class="cfe-titulo-2 mb-3" [innerHTML]="obtenerTituloModal()"></h4>

  <app-tabs-view
    [tabs]="tabs"
    (onChangeIndex)="indexActivo = $event"
  ></app-tabs-view>

  <p-tabView class="cfe-tabs-view" [(activeIndex)]="indexActivo">
    <p-tabPanel>
      <div class="disposicion-secreto-table">
        <p-table
          [value]="documentosCaso"
          [paginator]="true"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="{first} de {last} registros"
          [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
          [(selection)]="documentosCasoSeleccionados"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="columna-index">N°</th>
              <th class="colunma-documento">Documento/Trámite</th>
              <th class="colunma-etapa">Etapa</th>
              <th class="colunma-acta">Acto Procesal</th>
              <th class="columna-seleccionar">
                <span>Seleccionar</span>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th class="columna-plazo">
                <span>Plazo (días)</span>
                <input
                  pInputText
                  type="text"
                  value="20"
                  class="w-100"
                  [formControl]="plazoMasivoControl"
                />
              </th>
              <th class="columna-fecha">
                <span>Fecha fin calculada</span>
                <p-calendar
                  dateMask
                  dateFormat="dd/mm/yy"
                  class="cfe-calendar"
                  [showIcon]="true"
                  icon="cfe-calendar-icon"
                  placeholder="dd/mm/aaaa"
                  appendTo="body"
                  [formControl]="fechaFinMasivoControl"
                ></p-calendar>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-disposicion let-rowIndex="rowIndex">
            <tr
              class="p-selectable-row"
              [ngClass]="{
                'columna-no-seleccionada':
                  !estaDocumentoSeleccionado(disposicion)
              }"
            >
              <td>{{ rowIndex + 1 }}</td>
              <td>{{ disposicion.documento }}</td>
              <td>{{ disposicion.etapa }}</td>
              <td>{{ disposicion.actoProcesal }}</td>
              <td class="columna-seleccionar">
                <p-tableCheckbox [value]="disposicion"></p-tableCheckbox>
              </td>
              <td class="columna-plazo-input">
                <input
                  type="text"
                  class="plazo-input w-100"
                  pInputText
                  [value]="
                    !estaDocumentoSeleccionado(disposicion)
                      ? ''
                      : disposicion.plazo
                  "
                />
              </td>
              <td class="columna-plazo-calendar">
                <p-calendar
                  dateMask
                  dateFormat="dd/mm/yy"
                  class="cfe-calendar"
                  [showIcon]="true"
                  icon="cfe-calendar-icon"
                  placeholder="dd/mm/aaaa"
                  [(ngModel)]="disposicion.fechaFin"
                  appendTo="body"
                ></p-calendar>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7" style="text-align: center">
                No se encontraron registros con los criterios de búsqueda
                ingresados.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
    <p-tabPanel>
      <p-table
        [value]="documentosCuadernosIncidentales"
        [paginator]="true"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="{first} de {last} registros"
        [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
        sortField="cuadernoIncidental"
        sortMode="single"
        dataKey="cuadernoIncidental"
        rowGroupMode="subheader"
        groupRowsBy="cuadernoIncidental"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="columna-index">N°</th>
            <th class="colunma-documento">Documento/Trámite</th>
            <th class="colunma-etapa">Etapa</th>
            <th class="colunma-acta">Acto Procesal</th>
            <th class="columna-seleccionar">
              <span>Seleccionar</span>
              <p-checkbox
                [(ngModel)]="estaTodosLosDocumentosDeCuadernosSeleccionados"
                [binary]="true"
                (click)="seleccionarTodosLosDocumentos()"
              ></p-checkbox>
            </th>
            <th class="columna-plazo">
              <span>Plazo (días)</span>
              <input
                type="text"
                pInputText
                value="20"
                class="w-100"
                [formControl]="plazoMasivoParaCuadernoControl"
              />
            </th>
            <th class="columna-fecha">
              <span>Fecha fin calculada</span>
              <p-calendar
                dateMask
                dateFormat="dd/mm/yy"
                class="cfe-calendar"
                [showIcon]="true"
                icon="cfe-calendar-icon"
                placeholder="dd/mm/aaaa"
                appendTo="body"
                [formControl]="fechaFinMasivoParaCuadernoControl"
              ></p-calendar>
            </th>
            <th class="collapse-option"></th>
          </tr>
        </ng-template>

        <ng-template
          pTemplate="groupheader"
          let-documento
          let-rowIndex="rowIndex"
          let-expanded="expanded"
        >
          <tr class="header-group" [ngClass]="{ 'row-expanded': expanded }">
            <td colspan="4">
              <span
                class="cfe-subtitulo-1"
                [innerHTML]="
                  obtenerTituloCuadernoIncidental(documento.cuadernoIncidental)
                "
              ></span>
            </td>
            <td class="columna-seleccionar">
              <p-checkbox
                [ngModel]="estaGrupoSeleccionado(documento.cuadernoIncidental)"
                [binary]="true"
                (click)="
                  seleccionarGrupoDocumentos(documento.cuadernoIncidental)
                "
              ></p-checkbox>
            </td>
            <td class="columna-plazo-input">
              <input
                type="text"
                class="plazo-input w-100"
                pInputText
                [ngModel]="plazoMasivoParaCuadernoControl.value"
                (input)="
                  establecerPlazoGrupoDocumento(
                    documento.cuadernoIncidental,
                    $event
                  )
                "
              />
            </td>
            <td class="columna-plazo-calendar">
              <p-calendar
                dateMask
                dateFormat="dd/mm/yy"
                class="cfe-calendar"
                [showIcon]="true"
                icon="cfe-calendar-icon"
                placeholder="dd/mm/aaaa"
                appendTo="body"
                [ngModel]="fechaFinMasivoParaCuadernoControl.value"
                (onSelect)="
                  establecerFechaFinGrupoDocumento(
                    documento.cuadernoIncidental,
                    $event
                  )
                "
              ></p-calendar>
            </td>
            <td class="collapse-option">
              <button
                type="button"
                pButton
                pRipple
                class="p-button-text p-button-rounded p-button-plain mr-2"
                [icon]="expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
                [pRowToggler]="documento"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template
          pTemplate="rowexpansion"
          let-documento
          let-rowIndex="rowIndex"
        >
          <tr
            [ngClass]="{ 'columna-no-seleccionada': !documento.seleccionado }"
          >
            <td>{{ rowIndex + 1 }}</td>
            <td>{{ documento.documento }}</td>
            <td>{{ documento.etapa }}</td>
            <td>{{ documento.actoProcesal }}</td>
            <td class="columna-seleccionar">
              <p-checkbox
                [(ngModel)]="documento.seleccionado"
                [binary]="true"
                (click)="
                  seleccionarDocumento(documento.id, documento.seleccionado)
                "
              ></p-checkbox>
            </td>
            <td class="columna-plazo-input">
              <input
                type="text"
                class="plazo-input w-100"
                pInputText
                [(ngModel)]="documento.plazo"
              />
            </td>
            <td class="columna-plazo-calendar">
              <p-calendar
                dateMask
                dateFormat="dd/mm/yy"
                class="cfe-calendar"
                [showIcon]="true"
                icon="cfe-calendar-icon"
                placeholder="dd/mm/aaaa"
                appendTo="body"
                [(ngModel)]="documento.fechaFin"
              ></p-calendar>
            </td>
            <td class="collapse-option"></td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" style="text-align: center">
              No se encontraron registros con los criterios de búsqueda
              ingresados.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>

  <div class="disposicion-opciones">
    <button class="cfe-boton-primary cfe-boton-m mb-4 mt-1">Aceptar</button>
  </div>
</div>
