:host ::ng-deep .cfe-container{

    padding: 30px;
    background-color: var(--mpfn-background);

    .disposicion-opciones{
        display: flex;
        justify-content: flex-end;
        background-color: var(--mpfn-white);
        padding: 0 20px;
        margin-top: -15px;
        .cfe-boton-primary{
            width: 220px;
        }
    }

    .columna-index{
        width: 40px;
    }
    
    .colunma-documento{
        width: 320px;
    }
    
    .colunma-etapa{
        width: 140px;
    }
    
    .colunma-acta{
        width: 250px;
    }
    
    .columna-seleccionar{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 140px;
        span{
            display: block;
            width: 100%;
        }
    }
    
    .columna-plazo{
        width: 150px;
        span{
            display: inline-block;
            padding-bottom: 5px;
        }
    }
    
    .columna-no-seleccionada{
        .columna-plazo-input{
            cursor: not-allowed;
            .plazo-input{
                background-color: var(--mpfn-gray9);
                pointer-events: none;
            }
        }
        .columna-plazo-calendar{
            cursor: not-allowed;
            .cfe-calendar{
                pointer-events: none;
                .p-inputtext{
                    background-color: var(--mpfn-gray9);
                }
                button{
                    background-color: var(--mpfn-gray9);
                }
            }
        }
    }
    
    .p-tabview{
        .p-tabview-panels {
            background: var(--mpfn-white);
        }
    }

    .p-selectable-row {
        background-color: var(--mpfn-white) !important;
    }
   
    .p-datatable{
        .p-datatable-thead > tr > th {
            border-top: none;
            border-bottom: 1px solid var(--mpfn-gray3);
            font-family: var(--mpfn-font-regular);
            height: 105px;
        }
    
        .p-datatable-tbody > tr > td {
            text-align: left;
            font-family: var(--mpfn-font-regular);
        }
    }

    .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr.header-group:not(.p-highlight):hover {
        background: var(--mpfn-skyblue-pastel) !important;
        cursor: pointer;
    }

    .row-expanded{
        td{
            background-color: var(--mpfn-skyblue-pastel);
            &:hover{
                background-color: var(--mpfn-skyblue-pastel);
            }
        }
    }

    .cfe-calendar-icon {
        width: 20px;
        height: 24px;
    }
}

.columna-fecha{
    width: 220px;
    span{
        display: inline-block;
        padding-bottom: 5px;
    }
}

.header-group{
    .columna-seleccionar{
        height: 75px;
    }
}

.w-100{
    width: 100%;
    min-height: 42px;
}

.collapse-option{
    padding: 1rem 0 !important;
}