<div class="flex p-3 mt-3">
  <div class="elemento elemento1"></div>
  <div class="elemento ml-2 text-center">
    <img
      width="90px"
      src="../../../../../assets/images/img-check1.png"
      alt="Icono de advertencia"
    />
    <br /><br />
    <span class="ml-2 mt-1 text-2xl nfont-semibold"
      >REGISTRO CORRECTAMENTE</span
    >
  </div>
  <div class="elemento elemento3">
    <span class="alert-icon cursor-pointer">
      <i class="pi pi-times" (click)="ref.close()"></i>
    </span>
  </div>
</div>
<div class="p-3 mx-5">
  <div>
    <div class="color-black2 lh-1-5 mb-4 text-center">
      Se registro correctamente la información de la
      <strong>agenda de notificación de audiencia.</strong>
    </div>
  </div>
</div>
<div class="padding-l">
  <div class="flex justify-content-between">
    <p-button
      (onClick)="ref.close()"
      label="Ok"
      styleClass="p-button-lg cfe-boton-primary text-white font-semibold btn-adjust"
    >
    </p-button>
  </div>
</div>
