<div class="cfe-container">
  <!-- Ini - Título  -->
  <div class="cfe_bandeja__header grid">
    <div class="cfe_bandeja_header__content col-12 md:col-9">
      <fn-icon
        [ico]="iconUtil.obtenerIcono('iFolderSearch')"
        height="1.6rem"
      ></fn-icon>
      <h3 class="cfe-titulo-1">Casos observados por el fiscal superior</h3>
    </div>
    <!--     <div
      class="col-12 md:col-3 flex flex-column sm:flex-row justify-content-end align-items-center pr-0"
    >
      <a
        class="cfe-boton-secondary cfe-boton-sm w-full sm:w-auto mb-2 sm:mb-0 justify-content-start family-poppin-bold"
        routerLink="../"
      >
        <fn-icon
          [ico]="iconUtil.obtenerIcono('iChevronLeft')"
          height="1.5rem"
        ></fn-icon>
        Regresar
      </a>
    </div> -->
  </div>
  <!-- Fin - Título  -->

  <form [formGroup]="fmrBuscar">
    <!--Ini - texto del buscador -->
    <div class="grid">
      <div class="col">
        <div class="field mb-0">
          <label for="buscar" class="font-semibold">Buscar</label>
          <input
            pInputText
            type="text"
            class="p-inputtext-lg py-3 text-lg w-full"
            placeholder="Ingrese algún texto para buscar, por ejemplo el número de caso, etapa, fiscal, trámite, etc."
            formControlName="buscar"
            id="buscar"
            name="buscar"
            (keyup)="eventoBuscarSegunTexto()"
            autocomplete="off"
          />
        </div>
      </div>
      <div
        class="col-fixed"
        style="width: 70px"
        [ngClass]="{ 'cfe-filtro-boton-fondo': esVisibleFiltros }"
      >
        <div class="field mb-0 mt-5">
          <button
            type="button"
            class="cfe-filtro-boton"
            (click)="eventoMostrarOcultarFiltros()"
          >
            <fn-icon
              [ico]="iconUtil.obtenerIcono('iFilterShow')"
              height="2.1rem"
            ></fn-icon>
          </button>
        </div>
      </div>
    </div>
    <!--Fin - texto del buscador -->

    <!--Ini - filtro de tiempo -->
    @if (!esVisibleFiltros) {
    <div class="mt-3 mb-4">
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton
            value="1"
            formControlName="filtroTiempo"
            (onClick)="eventoCambiarFiltroTiempo($event.value)"
            inputId="ultimoSeisMeses"
          ></p-radioButton>
          <label for="ultimoSeisMeses" class="ml-2">Últimos 6 meses</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            value="2"
            formControlName="filtroTiempo"
            (onClick)="eventoCambiarFiltroTiempo($event.value)"
            inputId="todosLosMeses"
          ></p-radioButton>
          <label for="todosLosMeses" class="ml-2">Todos los meses</label>
        </div>
      </div>
    </div>
    }
    <!--Fin - filtro de tiempo -->

    <!--Ini - Formulario de Filtros Avanzados -->
    @if (esVisibleFiltros) {
    <div class="cfe-filtros p-0">
      <div class="cfe-filtros-fondo block pb-2 px-3 pt-4">
        <!-- Ini - filtros -->
        <div class="grid">
          <div class="field col-12">
            <div class="flex align-items-center flex-wrap gap-2">
              <div class="flex align-items-center mr-2">
                <p-radioButton
                  value="1"
                  formControlName="tipoFecha"
                  name="tipoFecha"
                  inputId="tipoFechaRegistro"
                ></p-radioButton>
                <label for="tipoFechaRegistro" class="ml-2 font-semibold"
                  >Fecha de observación</label
                >
              </div>
              <div class="flex align-items-center mr-2">
                <p-radioButton
                  value="2"
                  formControlName="tipoFecha"
                  name="tipoFecha"
                  inputId="tipoFechaRegistro"
                ></p-radioButton>
                <label for="tipoFechaRegistro" class="ml-2 font-semibold"
                  >Fecha de elevación</label
                >
              </div>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 lg:col-3">
            <label class="font-semibold mb-0" for="fechaInicio">Fecha</label>
            <p-calendar
              dateMask
              class="p-inputtext-lg cfe-calendar h-56"
              [showIcon]="true"
              icon="cfe-calendar-icon"
              placeholder="dd/mm/aaaa"
              dateFormat="dd/mm/yy"
              formControlName="fechaInicio"
              inputId="fechaInicio"
            ></p-calendar>
          </div>
          <div class="col-12 lg:col-3">
            <label class="font-semibold mb-0 pr-1" for="fechaFin"></label>
            <p-calendar
              dateMask
              class="p-inputtext-lg cfe-calendar h-56"
              [showIcon]="true"
              icon="cfe-calendar-icon"
              placeholder="dd/mm/aaaa"
              dateFormat="dd/mm/yy"
              formControlName="fechaFin"
              inputId="fechaFin"
            ></p-calendar>
          </div>
          <div class="col-12 lg:col-3">
            <label class="mb-0 font-semibold" for="orderPor"
              >Tipo de elevación</label
            >
            <p-dropdown
              formControlName="tipoElevacion"
              styleClass="py-1 p-inputtext-lg"
              placeholder="Todos"
              [options]="tipoElevacion"
              optionLabel="label"
              optionValue="value"
              [showClear]="true"
              >></p-dropdown
            >
          </div>
          <div class="col-12 lg:col-3">
            <label class="mb-0 font-semibold" for="orderPor"
              >Clasificación</label
            >
            <p-dropdown
              formControlName="clasificacion"
              styleClass="py-1 p-inputtext-lg"
              placeholder="Todos"
              [options]="clasificacion"
              optionLabel="label"
              optionValue="value"
            ></p-dropdown>
          </div>
        </div>

        <div class="field grid">
          <div class="field col-12 lg:col-2">
            <label for="tipoProceso" class="font-semibold mb-0"
              >Tipo Proceso</label
            >
            <p-dropdown
              id="tipoProceso"
              styleClass="py-1 p-inputtext-lg"
              [options]="tipoProcesos"
              optionValue="id"
              optionLabel="nombre"
              emptyMessage="Sin resultados"
              placeholder="Todos"
              [showClear]="true"
              formControlName="tipoProceso"
              (onChange)="eventoCambiarTipoProceso($event)"
            ></p-dropdown>
          </div>
          <div class="field col-12 lg:col-6">
            <label for="tipoSubProceso" class="font-semibold mb-0"
              >Subtipo Proceso</label
            >
            <p-dropdown
              id="tipoSubProceso"
              styleClass="py-1 p-inputtext-lg"
              [options]="tipoSubProceso"
              optionValue="id"
              optionLabel="nombre"
              emptyMessage="Sin resultados"
              placeholder="Todos"
              [showClear]="true"
              formControlName="tipoSubProceso"
              (onChange)="eventoCambiarTipoSubProceso($event)"
            ></p-dropdown>
          </div>
          <div class="col-12 lg:col-4">
            <label class="font-semibold mb-0" for="etapa">Etapa</label>
            <p-dropdown
              formControlName="etapa"
              styleClass="py-1 p-inputtext-lg"
              [options]="etapas"
              optionLabel="nombre"
              optionValue="id"
              emptyMessage="Sin resultados"
              placeholder="Todos"
              [showClear]="true"
            ></p-dropdown>
          </div>
        </div>

        <div class="field grid">
          <div class="col-12 lg:col-6">
            <label class="font-semibold mb-0" for="fiscaliaProvincial"
              >Fiscalía provincial</label
            >
            <p-dropdown
              formControlName="fiscaliaProvincial"
              styleClass="py-1 p-inputtext-lg"
              [options]="fiscaliasPronvinciales"
              optionLabel="label"
              optionValue="value"
              emptyMessage="Sin resultados"
              placeholder="Todos"
              (onChange)="eventoCambiarFiscaliaProvincial($event)"
              [showClear]="true"
            ></p-dropdown>
          </div>
          <div class="col-12 lg:col-3">
            <label class="font-semibold mb-0" for="despacho">Despacho</label>
            <p-dropdown
              formControlName="despacho"
              styleClass="py-1 p-inputtext-lg"
              [options]="despachos"
              optionLabel="label"
              optionValue="value"
              emptyMessage="Sin resultados"
              placeholder="Todos"
              [showClear]="true"
              (onChange)="eventoCambiarDespacho($event)"
            ></p-dropdown>
          </div>
          <div class="col-12 lg:col-3">
            <label class="font-semibold mb-0" for="fiscal">Fiscal</label>
            <p-dropdown
              formControlName="fiscal"
              styleClass="py-1 p-inputtext-lg"
              [options]="fiscales"
              optionLabel="label"
              optionValue="value"
              emptyMessage="Sin resultados"
              placeholder="Todos"
              [showClear]="true"
            ></p-dropdown>
          </div>
        </div>
        <!-- Fin - filtros -->

        <!-- Ini - Botones de Acciones -->
        <div class="flex align-items-center justify-content-end pb-2 pt-2">
          <button
            type="button"
            class="cfe-boton-secondary cfe-boton-m mr-3 boton-w"
            (click)="eventoLimpiar()"
          >
            Limpiar filtros
          </button>
          <button
            type="button"
            class="cfe-boton-primary cfe-boton-m mr-2 boton-w"
            (click)="eventoBuscar()"
          >
            Buscar
          </button>
        </div>
        <!-- Fin - Botones de Acciones -->
      </div>
    </div>
    }
    <!--Fin - Formulario de Filtros Avanzados -->
  </form>

  <div class="mt-5 container-view-list px-3 py-3">
    <div class="grid py-1">
      <div class="col-12 md:col-8">
        <div class="flex align-items-center">
          <img
            [src]="iconAsset.obtenerRutaIcono('exclamationFolder')"
            alt="Folder Icon"
            style="width: 22px"
          />
          <h4 class="casos_listados_count mt-2 mb-0 font-bold">
            {{ totalRegistros.total }} registros listados -
            {{ totalRegistros.casos }} casos -
            {{ totalRegistros.pestanasApelacionPorAsignar }} pestañas de
            apelación observadas
          </h4>
        </div>
      </div>

      <!--Ini - Botones de Exportación -->
      <div class="col-12 md:col-4">
        <div class="flex flex-column sm:flex-row justify-content-end pr-0">
          <div
            class="flex align-items-center gap-1 md:gap-2 flex-column sm:flex-row"
          >
            <button
              [disabled]="!listaCasos || listaCasos.length === 0"
              class="cfe-boton-secondary cfe-boton-m w-full sm:w-auto mr-0 mb-2 sm:mb-0 justify-content-start"
              (click)="eventoExportar(TipoExportarEnum.Pdf)"
            >
              <img
                [src]="iconAsset.obtenerRutaIcono('pdf')"
                alt="PDF Icon"
                class="mr-1"
              />
              Exportar PDF
            </button>
            <button
              [disabled]="!listaCasos || listaCasos.length === 0"
              class="cfe-boton-secondary cfe-boton-m w-full sm:w-auto mb-2 sm:mb-0 justify-content-start"
              (click)="eventoExportar(TipoExportarEnum.Excel)"
            >
              <img
                [src]="iconAsset.obtenerRutaIcono('excel')"
                alt="Excel Icon"
                class="mr-1"
              />
              Exportar Excel
            </button>
          </div>
        </div>
      </div>
      <!--Fin - Botones de Exportación -->
    </div>

    <!-- Ini - Tabla de Casos -->
    <p-table
      [value]="listaCasos"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="Nº" scope="col">Nº</th>
          <th scope="col">Número de caso /<br />Cuaderno Incidental</th>
          <th pSortableColumn="etapa" scope="col">
            Etapa <p-sortIcon field="etapa"></p-sortIcon>
          </th>
          <th pSortableColumn="etapa" scope="col">
            Trámite de elevación<p-sortIcon
              field="tramiteElavacion"
            ></p-sortIcon>
          </th>
          <th pSortableColumn="fiscaliaProcedencia" scope="col">
            Despacho de procedencia<p-sortIcon
              field="fiscaliaProcedencia"
            ></p-sortIcon>
          </th>
          <th pSortableColumn="fechaElevacion" scope="col">
            Fecha de elevacíón<p-sortIcon field="fechaElevacion"></p-sortIcon>
          </th>
          <th pSortableColumn="fechaElevacion" scope="col">
            Fecha de observación<p-sortIcon
              field="fechaObservacion"
            ></p-sortIcon>
          </th>
          <th pSortableColumn="delitos" scope="col">
            Observación<p-sortIcon field="observacion"></p-sortIcon>
          </th>
          <th class="w-col-10" scope="col"></th>
        </tr>
      </ng-template>

      <ng-template let-caso let-rowIndex="rowIndex" pTemplate="body">
        <tr class="p-selectable-row text-700">
          <td>{{ rowIndex + 1 }}</td>

          <td class="table_td_content_start caso-container">
            <span class="p-column-title">Número de caso</span>
            <div class="flex align-items-center mb-1">
              <div
                [innerHTML]="obtenerCasoHtml(caso.codigoCaso)"
                class="font-bold"
                style="white-space: nowrap"
              ></div>
            </div>
            @if(caso.tipoClasificadorExpediente !='000'){
            <div class="font-semibold mb-1">
              {{ obtenerActoProcesal(caso.actoProcesal) }}
            </div>
            } @if(caso.nuApelacion){
            <div class="etiquetas-superior-observados">
              <app-etiqueta-caso
                [etiqueta]="getEtiquetaConfig(caso)"
              ></app-etiqueta-caso>
            </div>
            }

            <app-etiqueta-caso
              [etiqueta]="{
                etiquetaRgb: caso.cssTextoElevacion,
                etiqueta: caso.tipoElevacion,

              }"
              [perfilJerarquia]="PerfilJerarquia.Superior"
            >
            </app-etiqueta-caso>
          </td>

          <td>
            <div class="font-semibold">
              {{ caso.etapa }}
            </div>
          </td>

          <td>
            <div class="font-semibold">
              {{ caso.tramite }}
            </div>
          </td>

          <td class="table_td_content_start">
            <div class="mb-1">
              <div class="font-semibold">{{ caso.fiscal }}</div>
              <div class="py-1">{{ caso.nombreEntidad }}</div>
              <div class="font-semibold">{{ caso.despachoFiscalOrigen }}</div>
            </div>
          </td>

          <td class="fecha-container table_td_content_start">
            <div>
              <div>{{ caso.fechaElevacion | dateformat }}</div>
              <div class="mt-1">
                {{ caso.horaElevacion | dateformat : "hour" }}
              </div>
            </div>
          </td>

          <td class="fecha-container table_td_content_start">
            @if(caso.fechaObservacion){
            <div>
              <div>{{ caso.fechaObservacion | dateformat }}</div>
              <div class="mt-1">
                {{ caso.horaObservacion | dateformat : "hour" }}
              </div>
            </div>
            }
            <div class="font-semibold pt-2 text-xs">
              ({{ caso.diasDesdeObservado }}
              {{ caso.diasDesdeObservado > 1 ? "días" : "día" }} transcurridos)
            </div>
          </td>

          <td class="table_td_content_start">
            <span class="p-column-title">ver observación</span>
            <div
              class="btn-crimes-parts font-semibold"
              (click)="eventoVerObservaciones(caso)"
            >
              ver<br />observación
            </div>
          </td>

          <td class="table_td_content_start">
            <i
              class="pi pi-ellipsis-v font-bold text-xl cursor-pointer text-600 transition-all transition-duration-200 hover:text-color"
              (click)="eventoOpcionesFila($event, opcionesCasoRef, caso)"
            ></i>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9" style="text-align: center">
            @if (busquedaPorTextoRealizada) { No se encontraron registros con
            los criterios de búsqueda ingresados. } @else { En estos momentos,
            no hay casos observados por el despacho superior. }
          </td>
        </tr>
      </ng-template>
    </p-table>
    @if(paginacionConfiguracion && paginacionConfiguracion.length > 0){
    <app-paginator
      [query]="paginacionCondicion"
      [items]="paginacionConfiguracion"
      [rowsPerPageOptions]="[]"
      (paginate)="eventoCambiarPagina($event)"
    ></app-paginator>
    <!-- Fin - Tabla de Casos -->
    }
  </div>
</div>

<!-- Ini - Opciones del Caso -->
<p-menu
  #opcionesCasoRef
  [model]="opcionesCaso"
  appendTo="body"
  [popup]="true"
></p-menu>
<!-- Fin - Opciones del Caso -->
