.color-tipo-elevacion-724 {
  background-color: #333333;
  color: #fff;
}
.color-tipo-elevacion-725 {
  background-color: #D9A927;
  color: #fff;
}
.color-tipo-elevacion-726 {
  background-color: #C83C3C;
  color: #fff;
}
.color-tipo-elevacion-727 {
  background-color: #d8f4de;
  color: #517158;
}
.color-tipo-elevacion-728 {
  background-color: #20a67e;
  color: #fff;
}
.color-tipo-elevacion-729 {
  background-color: #102e49;
  color: #fff;
}
.color-cuaderno-incidental {
  background-color: #2f66b8;
  color: #fff;
}
.color-apelacion {
  background-color: #e6f6f2;
  color: #00a174;
}
.color-contienda-negativa {
  background-color: #CCCCCC;
  color: #0E2E4A;
}
.color-contienda-positiva {
  background-color: #2b8de3;
  color: #00a174;
}
.etiquetas-superior-observados{

  margin-bottom: 0.5rem;
}