<div class="cfe-container">
  <div class="derivado__table">
    <div class="derivado_table__title grid">
      <div class="derivado_table_title__content col-6">
        <fn-icon
          [ico]="icono('iFolderExclamation')"
          height="1.8rem"
          [style]="{ 'margin-left': '-12px' }"
        >
        </fn-icon>
        <h4 class="cfe-subtitulo-1">
          Lista de casos que he derivado que ya lo aceptaron
        </h4>
      </div>
      <div
        class="col-12 md:col-6 flex flex-column sm:flex-row justify-content-end align-items-center pr-0"
      >
        <button
          class="cfe-boton-secondary cfe-boton-m cfe-boton-icono-izquierda w-full sm:w-auto mr-0 sm:mr-3 mb-2 sm:mb-0 justify-content-start"
          (click)="exportar('PDF')"
        >
          <fn-icon
            class="ml-1"
            [ico]="icono('iFileDownload')"
            height="1.6rem"
          ></fn-icon>
          Exportar PDF
        </button>
        <button
          class="cfe-boton-secondary cfe-boton-m cfe-boton-icono-izquierda w-full sm:w-auto justify-content-start"
          (click)="exportar('Excel')"
        >
          <fn-icon
            class="ml-1"
            [ico]="icono('iTable')"
            height="1.6rem"
          ></fn-icon>
          Exportar Excel
        </button>
      </div>
    </div>

    <div class="derivado_table__content">
      <p-table
        [value]="documentosFiltradosTemp"
        [rowHover]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        [breakpoint]="'992px'"
        responsiveLayout="stack "
        class="table_td_content_responsive"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>N°</th>
            <th class="w-15rem" pSortableColumn="numeroCaso ">
              Número de caso
              <p-sortIcon field="numeroCaso "></p-sortIcon>
            </th>
            <th pSortableColumn="destino ">
              Destino
              <p-sortIcon field="destino "></p-sortIcon>
            </th>
            <th pSortableColumn="remitente de denuncia ">
              Remitente de denuncia
              <p-sortIcon field="remitente de denuncia "></p-sortIcon>
            </th>
            <th class="w-10rem" pSortableColumn="fechaDerivacion ">
              Fecha Derivacion
              <p-sortIcon field="fechaDerivacion "></p-sortIcon>
            </th>
            <th class="w-10rem" pSortableColumn="fechaAceptacion ">
              F. aceptación
              <p-sortIcon field="fechaAceptacion "></p-sortIcon>
            </th>
            <th class="w-5rem">Editar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aceptados let-rowIndex="rowIndex">
          <tr class="">
            <td data-column-name="N°">
              <span>
                {{ indexPag(rowIndex) }}
              </span>
            </td>
            <td data-column-name="Número de caso">
              <div>
                <span
                  class="relative flex"
                  [innerHTML]="getCaso(aceptados.numeroCaso)"
                ></span>
              </div>
              <div>
                <div *ngIf="aceptados.tipoDerivacion == '1'">
                  <div class="mb-1">
                    <span class="badge badge-origen"> Derivación directa </span>
                  </div>
                </div>
                <div *ngIf="aceptados.tipoDerivacion == '0'">
                  <div class="mb-1">
                    <span class="badge badge-aleatoria">Derivación manual</span>
                  </div>
                </div>
              </div>
            </td>
            <td data-column-name="Destino">
              <span class="">
                {{ aceptados.destino | capitalizar }}
              </span>
            </td>
            <td data-column-name="Remitente de denuncia">
              <div class="mb-1">
                <span class="badge badge-origen">{{
                  aceptados.tipoPersona
                }}</span>
              </div>
              <div>
                {{ aceptados.remitenteDenuncia }}
              </div>
              <div *ngIf="aceptados.fechaDenuncia" class="mt-3">
                <div class="mt-3">
                  {{ aceptados.fechaDenuncia | dateformat }}
                </div>
                <div>{{ aceptados.horaDenuncia | dateformat : "hour24" }}</div>
              </div>
            </td>
            <td data-column-name="Fecha derivación">
              <div *ngIf="aceptados.fechaDerivacion">
                <div>
                  {{ aceptados.fechaDerivacion | dateformat }}
                </div>
                <div>
                  {{ aceptados.horaDerivacion | dateformat : "hour24" }}
                </div>
              </div>
              <div *ngIf="!aceptados.fechaDerivacion">-</div>
            </td>
            <td data-column-name="F. aceptacion">
              <div *ngIf="aceptados.fechaAceptacion">
                <div>
                  {{ aceptados.fechaAceptacion | dateformat }}
                </div>
                <div>
                  {{ aceptados.horaAceptacion | dateformat : "hour24" }}
                </div>
              </div>
              <div *ngIf="!aceptados.fechaAceptacion">-</div>
            </td>
            <td data-column-name="Editar">
              <div class="opciones">
                <p-button *ngIf="aceptados.tieneEFE"
                  class="btn-editar"
                  (click)="editarRegistro(aceptados)"
                >
                  <fn-icon class="ml-1" [ico]="icono('iEdit')"></fn-icon>
                </p-button> 
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage ">
          <tr>
            <td class="no-before text-center" colspan="9">
              No se encontraron registros con los criterios de búsqueda
              ingresados
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-paginator
        [query]="query"
        [items]="itemPaginado"
        [rowsPerPageOptions]="[]"
        [resetPage]="resetPage"
        (paginate)="onPaginate($event)"
      ></app-paginator>
    </div>
  </div>
</div>

<p-toast></p-toast>
