  <form [formGroup]="formularioAutoResuelve" class="formgrid mt-3">
    <div class="grid">
      <div class="field col-12 lg:col-6">
        <label
          for="fechaNotificacion"
          class="font-semibold"
        >Fecha de notificación</label>
        <p-calendar
          id="fechaNotificacion"
          dateMask
          dateFormat="dd/mm/yy"
          class="p-inputtext-lg cfe-calendar h-56"
          [showIcon]="true"
          icon="cfe-calendar-icon"
          placeholder="dd/mm/aaaa"
          formControlName="fechaNotificacion"
          dataType="string"
          [minDate]="fechaIngreso"
          [maxDate]="maxDate"
        ></p-calendar>
      </div>
      <div class="field col-12 md:col-6 lg:col-4">
        <label for="resultado" class="font-bold text-sm">Sujetos procesales a subsanar:</label>
        <div id="resultado" class="p-inputgroup">
          <button class="cfe-boton-primary cfe-boton-lg w-full" (click)="openModalSujetos()">
            Ver sujetos procesales
          </button>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="field col-12 lg:col-6">
        <label
          for="nroExpediente"
          class="font-semibold"
        >Número de expediente</label>
        <input
          id="nroExpediente"
          pInputText
          expedienteMask
          formControlName="nroExpediente"
          type="text"
          class="p-inputtext py-3 w-full"
          autocomplete="off"
        />
      </div>
      <div class="field col-12 lg:col-6">
        <label
          for="nombreFiscaliaProvincial"
          class="font-semibold"
        >Fiscalía Provincial a devolver</label>
        <input
          id="nombreFiscaliaProvincial"
          pInputText
          expedienteMask
          formControlName="nombreFiscaliaProvincial"
          type="text"
          class="p-inputtext py-3 w-full"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="grid">
      <div class="field col-12 lg:col-12">
        <label
          for="observaciones"
          class="font-semibold"
        >Observaciones (opcional)</label>
        <textarea
          id="observaciones"
          rows="5"
          (input)="actualizarContadorInputTextArea($event)"
          formControlName="observaciones"
          maxlength="1000"
          class="p-inputtext p-2 w-full"
        ></textarea>
        <small class="block text-right mt-1">
          Quedan {{ caracteresRestantes }} caracteres
        </small>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <h6>DOCUMENTO</h6>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <h6>DOCUMENTO</h6>
      </div>
      @if ( !tramiteEnModoVisor ) {
        <div class="col-6">
          @if (!documentoCargado) {
          <div class="col-12">
            <label for="" class="font-bold text-sm mb-2">Subir documento</label>
            <fn-file-upload
              class="fz-14"
              [(files)]="files"
              (processSignDocument)="processSignDocument($event)"
              [fileLimit]="1"
              [isInMemory]="true"
              type="pdf"
              [isSignDigital]="true"
              [maxFileSize]="maximoTotalArchivo"
              [perFileLabel]="'en total'"
            ></fn-file-upload>
          </div>
          }@else {

          <div class="field col-12 cfe-table-green">
            <label for="" class="font-bold text-sm">Documento subido</label>
            <p-table
              [value]="files"
              [rowHover]="true"
              styleClass="p-datatable-sm mt-3"
              >
              <ng-template pTemplate="header">
                <tr>
                  <th id="documento" class="col-w-1-6 text-sm">Documento</th>
                  <th id="tamanio" class="text-center text-sm" style="width: 110px;">Tamaño</th>
                  <th id="tipo" class="text-center text-sm" style="width: 75px;">Tipo de copia</th>
                  <th id="acciones" class="col-w-1 text-center text-sm" style="width: 45px;">
                    Acciones
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-file>
                <tr>
                  <td class="text-sm">
                    <div class="flex align-items-center">
                      <span>
                      {{ file.nombreOrigen }}</span>
                      @if (documentoAdjunto.isSign) {
                        <img [src]="icono('check-circle')" alt="guardado" class="ml-2">
                      }

                    </div>
                  </td>
                  <td class="text-center text-sm">
                    {{ formatoPesoArchivo(file.tamanyo) }}
                  </td>
                  <td>
                    <div class="flex flex-wrap gap-3">
                      @for (dataRadio of tipoCopia; track $index) {
                        <div class="flex align-items-center">
                          <p-radioButton
                            name="idTipoCopia"
                            value="{{ dataRadio.id }}"
                            formControlName="idTipoCopia"
                            inputId="or{{ dataRadio.id }}"
                            (onClick)="
                              file.nombreRadio = dataRadio.noDescripcion;
                              file.optionRadio = dataRadio.id
                            "
                          ></p-radioButton>
                          <label
                            for="or{{ dataRadio.id }}"
                            class="ml-2 text-sm cursor-pointer"
                            >{{ dataRadio.noDescripcion }}</label
                          >
                        </div>
                      }
                    </div>
                  </td>
                  <td class="text-center">
                    @if (!flagOcultarBoton) {
                    <fn-icon
                      class="cursor-pointer"
                      [ico]="obtenerIcono('iTrashCan')"
                      height="1.5rem"
                      onkeypress=""
                      (click)="eliminarDocumento(file)"
                      pTooltip="Eliminar documento"
                      tooltipPosition="bottom"
                    />
                    }@else {
                    <fn-icon
                      class="cursor-pointer"
                      [ico]="obtenerIcono('iFileDownload')"
                      height="1.5rem"
                      onkeypress=""
                      (click)="downloadPDF()"
                      pTooltip="Eliminar documento"
                      tooltipPosition="bottom"
                    />
                    }
                  </td>
                </tr>
              </ng-template>
            </p-table>

            @if(!flagOcultarBoton){
            <div class="col-12 margin-top-button mt-5">
              <div class="flex justify-content-between mt-3 botones-accion">
                <button
                  (click)="eliminarDocumento(null)"
                  class="cfe-boton-lg cfe-boton-secondary family-poppin-bold"
                >
                  Cancelar
                </button>
                <button
                  class="cfe-boton-lg family-poppin-bold"
                  (click)="confirmarGuardarDigitalizado()"
                  [disabled]="!formsValidation"
                  [ngClass]="{
                    'cfe-boton-primary': formsValidation,
                    'cfe-boton-secondary': !formsValidation
                  }"
                >
                  Firmar y Guardar
                </button>
              </div>
            </div>
            }
          </div>
          }
        </div>
      }

      <div [ngClass]="{'col-12': tramiteEnModoVisor, 'col-6': !tramiteEnModoVisor }">
        <div class="mt-7">
          <app-visor-pdf-cargo
            [soloVistaPrevia]="true"
            [documentoAdjunto]="documentoAdjunto"
          ></app-visor-pdf-cargo>
        </div>
      </div>
    </div>
  </form>

<cfe-lib-firma-digital-cliente></cfe-lib-firma-digital-cliente>
