@if ( !tieneActoTramiteCasoDocumento ) {
  <mensaje-interoperabilidad-pj />
}

@if ( tieneActoTramiteCasoDocumento ) {
  @if ( !tramiteEstadoRecibido ) {
    <mensaje-completar-informacion
      [titulo] = "tramiteSeleccionado!.nombreTramite"
    />
  }

  <form [formGroup]="formAutoCitacionJuicio">
    <div class="formgrid grid">
        <div class="field col-12 lg:col-4">
          <div class="formgrid grid">
            <div class="field col-11">
                <label for="fechaNotificacion" class="font-bold text-sm">Fecha de notificación</label>
                <p-calendar
                  [dateFormat]="'dd/mm/yy'"
                  class="p-inputtext-lg cfe-calendar h-40"
                  [showIcon]="true"
                  dateMask
                  icon="cfe-calendar-icon"
                  placeholder="dd/mm/aaaa"
                  formControlName="fechaNotificacion"
                  appendTo="body"
                  dataType="string"
                  [ngClass]="{'ng-invalid ng-dirty': formAutoCitacionJuicio.get('fechaNotificacion')?.invalid && formAutoCitacionJuicio.get('fechaNotificacion')?.touched}"
                >
                </p-calendar>
            </div>
            @if ( formAutoCitacionJuicio.get('fechaNotificacion')?.value ) {
              <div class="field col-1">
                <label for="">&nbsp;</label>
                  <div class="mt-1">
                    <img [src]="iconAsset.obtenerRutaIcono('check-circle')" alt="guardado" class="pr-2 h-2rem">
                  </div>
              </div>
            }

            <div class="field col-11">
              <label for="btnAgregarAudiencia" class="font-bold text-sm">(Opcional)</label>
                <p-button [disabled]="!esPosibleEditarFormulario"
                  (onClick)="agregarAudienciasMultiples()"
                  styleClass="p-button-lg cfe-boton-primary text-white family-poppin-bold btn-adjust-filter w-full">
                  <span class="ml-4 mr-4">Agregar audiencias</span>
                </p-button>
            </div>

            @if ( agendasMultiplesActivas.length > 0 ) {
              <div class="field col-1">
                <label for="">&nbsp;</label>
                  <div class="mt-1">
                    <img [src]="iconAsset.obtenerRutaIcono('check-circle')" alt="guardado" class="pr-2 h-2rem">
                  </div>
              </div>
            }

          </div>
        </div>
        <div class="field col-12 lg:col-4">
          <div class="formgrid grid">
            <div class="field col-12">
              <span>&nbsp;</span>
              @if ( !formAutoCitacionJuicio.get('incorporaCuadernoPrueba')?.value ) {
                <div class="check-cuaderno"></div>
              }
            </div>
            <div class="field col-12">
              <p-checkbox
                [binary]="true"
                formControlName="incorporaCuadernoPrueba"
                label="Incorporar al cuaderno de pruebas (opcional)"
                (ngModelChange)="alCambiarIncorporaCuaderno($event)"
              ></p-checkbox>
            </div>

            @if ( formAutoCitacionJuicio.get('incorporaCuadernoPrueba')?.value ) {
              <div class="field col-11">
                <label for="codigoCuadernoPrueba" class="font-bold text-sm">Código cuaderno de prueba (opcional)</label>
                <p-inputMask styleClass="p-inputtext-lg w-full" mask="*****-****-*-****-**-**-**" placeholder="_____-____-_-____-__-__-__"
                formControlName="codigoCuadernoPrueba" />
              </div>
              @if ( formAutoCitacionJuicio.get('codigoCuadernoPrueba')?.valid && formAutoCitacionJuicio.get('codigoCuadernoPrueba')?.value?.length > 0 ) {
                <div class="field col-1">
                  <label for="">&nbsp;</label>
                    <div class="mt-1">
                      <img [src]="iconAsset.obtenerRutaIcono('check-circle')" alt="guardado" class="pr-2 h-2rem">
                    </div>
                </div>
              }
            }

          </div>
        </div>
        <div class="field col-12 lg:col-4">
        </div>
        <div class="field col-11">
          <label for="observacion" class="font-bold text-sm">Observaciones (opcional)</label>
          <textarea pInputTextarea class="w-full text-md" rows="6" formControlName="observacion" [maxLength]="longitudMaximaObservaciones"></textarea>
          <small
            class="block text-right mt-1"
            [ngClass]="{'p-error': cantidadCaracteresObservacion > longitudMaximaObservaciones }">
            {{cantidadCaracteresObservacion}}/{{longitudMaximaObservaciones}} máximo de caracteres
          </small>
        </div>
        @if ( formAutoCitacionJuicio.get('observacion')?.value && formAutoCitacionJuicio.get('observacion')?.value.length > 0 ) {
          <div class="field col-1">
            <label for="">&nbsp;</label>
              <div class="mt-1">
                <img [src]="iconAsset.obtenerRutaIcono('check-circle')" alt="guardado" class="pr-2 h-2rem">
              </div>
          </div>
        }
    </div>

    <div class="field col-11 flex flex-column sm:flex-row justify-content-between mt-3">
      @if ( !tramiteEstadoRecibido ) {
        <a class="cfe-enlace" (click)="modalActualizarActoYTramite()">
          ¿Este documento no pertenece a este trámite?</a>
      } @else {
        <span></span>
      }

      @if ( esPosibleEditarFormulario ) {
        <p-button
          [disabled]="!formularioValido"
          (onClick)="confirmarRegistroTramite()"
          styleClass="p-button-lg cfe-boton-primary text-white family-poppin-bold btn-adjust-filter w-column-full">
          <span class="ml-4 mr-4">Guardar</span>
        </p-button>
      }

    </div>

  </form>
}



