<div class="p-5 relative modal-width">

  <div class="cfe-encabezado-modal mb-2">
    <span class="cfe-subtitulo-3 family-poppin-bold">
      Emitir pronunciamiento de retiro de acusación
    </span>
    <fn-icon
      onkeypress=""
      class="cfe-encabezado-cerrar"
      [ico]="iconUtil.obtenerIcono('iClose')"
      height="2rem"
      (click)="cerrarModal()"
    ></fn-icon>
  </div>


  <div class="cfe-subtitulo-3 family-poppin-bold mt-4">
    Caso:<span [innerHTML]="stringUtil.obtenerNumeroCaso(getNumeroCaso)"></span>
  </div>
 <div class="mt-4">
    <span><strong>Resultado (1era instancia): {{ resultadoPrimeraInstancia  }} </strong></span>
  </div>
  <div class="mt-4">
    <span><strong>Seleccione si el resultado ha sido ratifica o rectifica para cada sujeto procesal del registro de acusados que presentan retiro de acusación aprobados por el juez penal </strong></span>
  </div>
  <div class="cfe_bandeja__table  mt-2">
      <p-table
          class="table-apelaciones"
          [value]="sujetosProcesalesFiltrados"
          [rowHover]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          [breakpoint]="'992px'"
          responsiveLayout="stack"
          [(selection)]="selectedSujetos">
        <ng-template pTemplate="header">
          <tr>
            <th scope="" >N°
            </th>
            <th scope="" class="text-center" >Nombres y apellidos /Razón social
            </th>
            <th scope="" class="text-center" >Tipo de sujeto procesal
            </th>
             <th scope="" >Delito relacionado al retiro de acusación (Genérico / sub-genérico/específico): 
            </th>
            <th scope="" class="text-center" >
              Reparación Civil
            </th>
            <th scope=""  >
              <input
                type="checkbox"
                [checked]="checkRatifica"
                [disabled]="soloLectura"
                class="cursor-pointer"
                (change)="seleccionarTodosFundado('ratifica', $event)"
              />
              Ratifica
            </th>
            <th scope="" >
              <input
                type="checkbox"
                [checked]="checkRectifica"
                [disabled]="soloLectura"
                class="cursor-pointer"
                (change)="seleccionarTodosFundado('rectifica', $event)"
              />
              Rectifica
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sujeto let-rowIndex="rowIndex">
          <tr class="p-selectable-row">
            <td class="table_td_content_start caso-container">
              {{ (( query.page -1 ) * query.limit) + (rowIndex + 1) }}
            </td>
            <td class="table_td_content_start text-center">
              {{ sujeto.nombreSujeto }}
            </td>
            <td class="table_td_content_start text-center">
              {{ sujeto.noTipoParteSujeto }}
            </td>
             <td class="table_td_content_start text-center">
              {{ sujeto.noDelitoGenerico }}/ {{ sujeto.noDelitoSubgenerico }}/ {{ sujeto.noDelitoEspecifico }}
            </td>
            <td class="table_td_content_start text-center">
              <span class="text-center">
                {{ sujeto.flReparacionCivil=='1' ? 'Si' : 'No' }}
              </span>

            </td>
            <td class="table_td_content_start text-center">
              <input name="selection{{rowIndex + 1}}" onkeypress=""
                     id="ratifica{{rowIndex + 1}}"
                     [checked]="sujeto.flRatifica==='1'"
                     [disabled]=" soloLectura"
                     (click)="onSelectionChange(sujeto, 'ratifica')"
                     class="cursor-pointer"
                     type="radio"/>

            </td>
            <td class="table_td_content_start text-center">
              <input name="selection{{rowIndex + 1}}" onkeypress=""
                     id="rectifica{{rowIndex + 1}}"
                    [checked]="sujeto.flRectifica==='1'"
                     [disabled]=" soloLectura"
                     (click)="onSelectionChange(sujeto, 'rectifica')"
                     class="cursor-pointer"
                     type="radio"/>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-paginator [query]="query" [items]="itemPaginado" [rowsPerPageOptions]="[]"
                     (paginate)="onPaginate($event)"></app-paginator>

  </div>
  <div class="col-12">
    @if (mostrarMensaje) {
      <p-messages
        [(value)]="msgs1"
        [enableService]="false"
        [closable]="false"
        [escape]="false">
      </p-messages>
    }
  </div>
  <div class="col-12 flex align-items-center justify-content-center mt-2 mb-2">
    <button class="cfe-boton-opcion cfe-boton-secondary cfe-boton-lg family-poppin-bold"
            (click)="cerrarModal()">
      Cancelar
    </button>
    @if (!soloLectura) {
      <button class="ml-3 cfe-boton-primary cfe-boton-lg family-poppin-bold"
          [disabled]="!habilitarBotonAceptar"
          (click)="aceptar()">
        Aceptar
      </button>
    }

  </div>
</div>
