<div class="grid pr-4 pl-2 mt-4">
    <div class="col p-6 p-derecho">
        <indicador-dash *ngIf="listaIndicadoresTexto.length>0" [listaIndicadores]="listaIndicadoresTexto" [index]="0"></indicador-dash>
    </div>
    <div class="col p-6 p-derecho">
        <indicador-dash *ngIf="listaIndicadoresTexto.length>0" [listaIndicadores]="listaIndicadoresTexto" [index]="1"></indicador-dash>
    </div>
    <div class="col p-6 p-derecho">
        <indicador-dash *ngIf="listaIndicadoresTexto.length>0" [listaIndicadores]="listaIndicadoresTexto" [index]="2"></indicador-dash>
    </div>
</div>

<div class="grid pr-4 pl-2">
    <div class="col p-6 p-derecho">
        <indicador-dash *ngIf="listaIndicadoresTexto.length>0" [listaIndicadores]="listaIndicadoresTexto" [index]="3"></indicador-dash>
    </div>
    <div class="col p-6 p-derecho">
        <indicador-dash *ngIf="listaIndicadoresTexto.length>0" [listaIndicadores]="listaIndicadoresTexto" [index]="4"></indicador-dash>
    </div>
    <div class="col p-6 p-derecho">
    </div>
</div>
