<div class="cfe-container">

    <div class="elevacion_actuados__header">
        <div class="casos_por_asignar_header__content">
            <fn-icon [ico]="icono('iFolderSearch')" height="1.6rem"></fn-icon>
            <h3 class="cfe-titulo-1">Bandeja de apelaciones de sentencia</h3>
            <fn-icon [ico]="icono('iTooltip')" height="1.6rem"></fn-icon>
        </div>
        <div class="casos_por_asignar_header__navigate">
            <button class="cfe-boton-secondary cfe-boton-sm" (click)="verCasoResuelto()" >
                Ver casos resueltos
                <fn-icon [ico]="icono('iChevronRight')" height="1.5rem"></fn-icon>
            </button>
        </div>
    </div>

</div>

<p-toast></p-toast>

